[2020-03-11 18:29] frank06 opened #1 "Override HTTP client revamp"
Revisit `withHttpClient` for overriding client/client calls.

Questions:
 - would it be better to override the client itself?
 - does an `IOClient` make sense as default? `http.Client` vs `HttpClient`
 - aim to support all kinds of available interceptors, for Dio/Chopper/http (via core or adapters)
   - example of working [Fresh](https://github.com/felangel/fresh/)
 - what's the usage share distri

[2020-03-11 18:30] frank06 opened #2 "Remove dependency on json_serializable + DataSupport"
While `json_serializable` is the de-facto JSON conversion library in Dart/Flutter, allow overriding to/from JSON methods

Along with this, minimize reliance on `DataSupport`. Possible to use models that don't mix anything in? Call `id` via `(model as dynamic).id`, previously checked in the build process.

Could have extensions on these classes? Or let them just use the repository directly.

[2020-03-11 18:32] frank06 opened #3 "Support polymorphism"
[code]

[2020-03-11 18:34] frank06 opened #4 "Support queries"
Queries

 - based on the JSON:API standard
 - adapter for Hive v2
 - allow access to underlying data sources (like ActiveRecord allows access to raw SQL)

[2020-03-11 18:36] frank06 opened #5 "Conflict resolution (on a per-model basis)"
Allow pluggable per-model conflict resolution strategies when synchronizing data sources

[2020-03-11 18:38] frank06 opened #6 "Flutter Web compatibility"
Most dependencies are web compatible, need to sort out #1

[2020-03-11 18:41] frank06 opened #7 "Support Firebase"
- Write adapters for Firebase
 - Example for Firebase Auth (like `SessionService`)

[2020-03-11 18:42] frank06 opened #8 "Support GraphQL"

[2020-03-17 14:28] frank06 opened #9 "Improve performance?"
- Profiling and bottlenecks
   - leaks / heavy duty usage
 - Worth doing some work in isolate?
 - Optimize Hive serialization
 - Document where to call `DataManager.dispose()`

[2020-04-01 23:59] jamesdixon opened #10 "save() creating model in store although it's already been created locally"
You may already be tackling this, but here's the example:

[code]

[2020-04-02 01:49] jamesdixon opened #11 "add support for query parameters on other http verbs (POST, etc)"
Something like:

[code]
Example: when creating a new customer in Scout we allow the user the option to send a notification to the customer. We use the following: `POST /customers?sendNotification=true` if they'd like to send a notification.

FWIW, this is not against HTTP spec.  Chose to go this route initially to avoid having to pull these type of params out of the payload before the rest was sav

[2020-04-02 02:14] jamesdixon commented on #11
looks like this is actually possible: https://github.com/flutterdata/flutter_data/blob/d951f1c42e54bf1885988ffb9ea42b357449e513/lib/src/repository/repository.dart#L224-L228

but isn't implemented here: https://github.com/flutterdata/flutter_data/blob/d951f1c42e54bf1885988ffb9ea42b357449e513/lib/src/model/data/data_support.dart#L23-L26

intentional?

[2020-04-02 02:20] jamesdixon opened #12 "expose underlying adapter serializer / deserializer"
Use case:

**Serializing:** if I need to write a custom adapter method, I'd like to be able to serialize the payload automatically into JSON API rather than manually building it. I did try the `serialize` method on the repository, but it just spit out plain json.

**Deserializing:** again, if I build a custom adapter method that has a payload that needs to make its way into the store, I need a way

[2020-04-02 02:23] jamesdixon opened #13 "ability to push payload into local store"
What's the best way to take a raw JSON API (or whatever) payload and get into the local store?

Thinking something along the lines of Ember's `store.pushPayload()` method.

Maybe somewhat related to #12

[2020-04-02 02:33] jamesdixon commented on #13
Just tried the following and I believe this works:

[code]

If that's correct, thoughts on maybe offering some syntactic sugar on top?

[code]

[2020-04-02 16:41] jamesdixon opened #14 "errors/warnings in generated model code"
![image](https://user-images.githubusercontent.com/110114/78275218-8a43b700-74ce-11ea-8bf9-f8ef7f0d6ecc.png)

Note that I'm using `pedantic`.

[2020-04-02 17:02] jamesdixon commented on #14
restarting VSCode resolved this...

[2020-04-02 17:02] #14 closed

[2020-04-03 20:43] #11 closed

[2020-04-03 23:31] #10 closed

[2020-04-04 04:34] jamesdixon commented on #3
@frank06 curious what the effort level is on this?

[2020-04-06 02:24] frank06 commented on #13
With the new serialization formats branch, it will be possible to do:

[code]

[2020-04-06 02:48] jamesdixon opened #15 "support for interceptors"
Just adding this here as a reminder :)

FYI there is an [http_inteceptor](https://pub.dev/packages/http_interceptor) package built to work with `http`. Dio also has them built-in.

[2020-04-06 17:27] jamesdixon opened #16 "access relationship directly instead of using `relationship.value`"
Super minor thing, but just calling out things that weren't immediately obvious.

I went to access a relationship `staff.account` and didn't realize I needed to actually access `staff.account.value` to get the properties of that relationship.

Again, not a big deal at all. Just documenting things :)

Feel free to close 👍

[2020-04-06 17:46] jamesdixon opened #17 "flutter data needs to be imported to access extensions"
This one got me as I didn't realize some methods that were available on a model, such as `save()` were defined as extensions.

That said, is it necessary to have these defined as extensions? Could they not be class methods?

If it is necessary, definitely something to mention in the docs.

[2020-04-06 23:25] frank06 commented on #12
In order to serialize JSON:API you can do the following in your own adapter:

[code]

as long as the `JSONAPIAdapter` mixin precedes your adapter in your model's mixin declaration:

[code]

The same goes for `deserialize`.

[2020-04-06 23:25] #12 closed

[2020-04-06 23:28] frank06 commented on #16
Thanks, this will definitely be available in the documentation I'm working on.

[2020-04-06 23:28] #16 closed

[2020-04-06 23:32] frank06 commented on #17
Right, `save()` on the model is syntax sugar defined in an extension. It is equivalent to:

[code]

so you can use that.

Due to compatibility with freezed we can't have public methods in the `DataSupport` class.

[2020-04-06 23:32] #17 closed

[2020-04-06 23:33] frank06 commented on #13
Notice there's no need to "save", deserialization initializes models which stores them locally.

See #12

[2020-04-06 23:33] #13 closed

[2020-04-06 23:35] frank06 commented on #15
Thanks for the library! Yes, I will expose an interceptor API soon.

[2020-04-06 23:53] frank06 opened #18 "verbose flag"
Alongside `bool clear = true` we should have a `bool verbose = false`

[2020-04-07 01:40] frank06 opened #19 "first-class offline support"
Create an adapter or series of adapters with:

  - queue for read & write retries when server is unreachable (regardless of cause)
    - exponential backoff for retries
    - if "keeps loading for a while" (state.isLoading, from `data_state`), make it fail & retry

cc/ @jamesdixon

[2020-04-11 17:42] jamesdixon opened #20 "exception thrown if relationship returned that doesn't exist in parent model"
If an API response contains a relationship that doesn't exist in the parent model, the following exception is thrown:

[code]

For example, if a `pet` relationship is returned from an API call to load a `customer` and  the `Customer` model does not have that relationship defined, an error is thrown.

This results in `StateNotifier.isLoading` to always be `true`.

[2020-04-11 20:40] #20 closed

[2020-04-13 19:25] frank06 commented on #3
Just works:

[code]

[2020-04-13 19:25] #3 closed

[2020-04-14 01:04] frank06 commented on #15
It's just a matter of overriding `withResponse` in your adapter:

[code]

[2020-04-14 01:04] #15 closed

[2020-04-14 02:44] jamesdixon opened #21 "app crashes when http request times out"
I'm not sure if this has to do with offline code specifically, but the app will crash if a network request times out.

I tested this by using Network Link Conditioner on my Mac (can also be used on your phone). I highly recommend using this to test offline as the '100% loss' setting is much different than wi-fi being on/off. It will simulate an actual shitty connection where you're still connected

[2020-04-14 02:49] jamesdixon opened #22 "`FlutterData.init(baseDir, clear: false)` crashes app"
![image](https://user-images.githubusercontent.com/110114/79180868-41daa200-7dc8-11ea-99eb-8d8b84ee9f2c.png)

[2020-04-14 02:51] jamesdixon opened #23 "ability to flush local data store manually"
`FlutterData.init(baseDir, clear: true)` works when the app is booted but if you manually want to flush the store, say on a logout event, it doesn't seem there is a way to do that unless you manually do so with Hive.

[2020-04-14 03:31] jamesdixon commented on #23
One of the problems with `clear: true` is that if the app was to crash or was killed in the background by the OS and then you reloaded the app and there is a shit connection, there is no data in the store to immediately load. This is a case where I'd rather leave data intact on startup and then manually flush it on logout. Thoughts?

[2020-04-14 20:07] frank06 commented on #23
It is already possible to manually clear local storage for a type:

[code]

`FlutterData.init(clear: false)` can be supplied to change this behavior. It is `true` by default while Flutter Data is in alpha releases, i.e. `< 1.0.0`.

[2020-04-14 20:07] #23 closed

[2020-04-15 19:56] frank06 commented on #22
Fixed in 4194ff6c7469daff0b9681c05ce16a5545cc8da5

[2020-04-15 19:56] #22 closed

[2020-04-15 19:56] frank06 commented on #21
Fixed in 953904ac53acb1d1fff6f016dad110bc294c09d8

[2020-04-15 19:56] #21 closed

[2020-04-15 23:07] frank06 commented on #19
WIP https://github.com/flutterdata/flutter_data/blob/master/lib/src/adapter/remote/offline_adapter.dart

[2020-04-25 20:12] frank06 opened #24 "Make relationships reactive"
API along these lines:

[code]

Also:

 - `user.todos.load()`
 - `user.load().map((u) => u.todos),` (stream API, how about notifier?)

[2020-04-25 20:14] frank06 commented on #9
Use lazy boxes?

[2020-04-25 20:17] frank06 opened #25 "Example for Freezed union (polymorphic model)"
Something like this?

[code]

[2020-04-25 20:40] frank06 commented on #19
This looks great @jamesdixon  https://logux.io/

[2020-04-27 18:53] frank06 opened #26 "Local storage expiration/TTL setting?"
Or example with available APIs

[2020-04-28 01:04] frank06 commented on #2
`json_serializable` is optional now.

[2020-04-28 01:04] #2 closed

[2020-04-28 18:39] frank06 opened #27 "Default query parameters"
Just like headers

[2020-04-28 18:41] frank06 opened #28 "github adapter"
An adapter for the Github REST API, with authentication

[2020-04-28 19:41] jamesdixon commented on #26
This would be 🔥 🎉

[2020-04-28 22:30] jamesdixon commented on #19
@frank06 nice! Hadn't heard of Logux before

[2020-04-29 14:21] frank06 opened #29 "Add encryption argument"
We should allow clients to pass in an argument to encrypt Hive boxes.

[2020-04-30 01:22] #27 closed

[2020-04-30 22:30] frank06 opened #30 "allow setting remote=false on repositories"

[2020-05-01 00:59] #18 closed

[2020-05-01 00:59] #30 closed

[2020-05-01 00:59] #29 closed

[2020-05-08 11:51] dricholm opened #31 "Interwork with injectable"
Hello,

I found this package a few days ago and it looks really promising.

I have a question about using it with [injectable](https://pub.dev/packages/injectable). It is a code generator for [get_it](https://pub.dev/packages/get_it). I see get_it is mentioned in the documentation also.
I would like to use injectable's annotations with the classes of flutter_data. In the quick start it mentions yo

[2020-05-08 12:24] dricholm opened #32 "Writing tests"
Hello!

Is there a recommended way for writing tests? If yes, can the documentation be updated with some examples?

I find it hard/impossible to write tests when using flutter_data.

### Adapter mixins

For example if I want to test the Authentication service from the documentation:

[code]

One approach would be to use a separate function to test for `withHttpClient()`'s `OnRequest<R> onRequest`

[2020-05-08 14:41] frank06 commented on #32
@dricholm sorry, I haven't updated the docs yet with testing practices!

Correct, dependencies one is not interested in testing should be faked or mocked.

### Testing objects that depend on Flutter Data

[code]

First mock the repo:

[code]

And test:

[code]

### Testing adapters

It's true that testing custom adapters is a bit more convoluted.

Here is an example. Say we have a `login` on the `

[2020-05-08 14:46] frank06 commented on #31
Thank you for your kind words!  I'm not sure yet how this would work with injectable, as we need to place an annotation on generated code. Will try to have a look later.

[2020-05-09 09:54] dricholm commented on #32
@frank06 Thank you for the detailed reply!

Oops, I somehow forgot to use the Mock class of the Flutter Data, so testing objects that depend on Flutter Data is really straightforward.

About adapter testing, I have tried your method it really does work. I think you have one minor typo/error I had to change when creating the Repository: The constructor expects a `LocalAdapter`, not the `DataManager

[2020-05-11 02:46] drashoor opened #33 "flutterdata with bloc"
Is there any example how to use flutterdata with bloc?

[2020-05-11 13:59] frank06 commented on #32
Neat!

I don't have a strong opinion about the design yet, but I think it's a great idea to have a `TestClientAdapter`. I'd say method 2 is better, assuming JSON.

I hope one day we can couple this with something like [Mirage](https://miragejs.com).

You're right about `LocalAdapter`, but it will no longer be a dependency in the next version! Actually, I'm working right now to make `Locator`/`Box`

[2020-05-11 17:40] frank06 commented on #33
For now here's an idea: https://flutterdata.dev/cookbook/adapters/#authentication-service

Will create a sample project soon.

[2020-05-11 20:30] dricholm commented on #32
I haven't tried Mirage yet. I usually used [nock](https://github.com/nock/nock) in JavaScript/TypeScript. Just now I tried searching for something similar and I found that someone wrote nock for Dart also: [pub link](https://pub.dev/packages/nock). I haven't tried it yet, will probably try it out soon. If it works okay no `TestClientAdapter` could be needed.

Decreased dependencies sound good, loo

[2020-05-11 21:09] frank06 commented on #24
Implemented

[2020-05-11 21:09] #24 closed

[2020-05-11 21:24] frank06 commented on #25
Latest attempt not working:

[code]

Closing until someone actually needs this.

[2020-05-11 21:24] #25 closed

[2020-05-11 21:42] frank06 commented on #31
Did you try https://github.com/Milad-Akarie/injectable#auto-registering-experimental ?

That should fix this issue.

[2020-05-11 23:31] grangoni commented on #7
Hello,
Thanks for working in this.
Will this adapter work with Firestore (or RealTime DB)?

[2020-05-12 00:48] frank06 commented on #7
@grangoni I'm starting with Cloud Firestore and Firebase Auth

[2020-05-12 15:06] grangoni commented on #7
Perfect! looking forward to it.

[2020-05-13 11:08] dricholm commented on #31
I tried auto registering now. Unfortunately it did not detect classes from generated files for me. I tried declaring an additional class: `class AuthRepository = $UserRepository with AuthAdapter;`, this can be registered, however this depends on LocalAdapter, which then also needs to be registered.

So I am manually registering flutter_data's classes before running the app:

[code]

Of course when

[2020-05-13 12:01] dricholm commented on #32
Just a follow-up to my previous post: nock does work very well. So I guess using it is the best way to test HTTP requests in Adapters.

[2020-05-13 14:23] frank06 commented on #31
Let me try adding a `runs_before` to our FD's build. After that, Injectable should be picking up the whole code. If that doesn't work I think it should be improved on their side.

[2020-05-13 14:27] frank06 commented on #32
Very cool! I gonna give it a shot.

Mirage would take this to whole another level, but it isn't available for Dart.

[2020-05-13 14:27] #32 closed

[2020-05-13 18:41] dricholm commented on #31
That alone won't fix this if I understand it, please correct me if I am wrong somewhere. Flutter Data generates two classes for a Repository:

[code]

Even if injectable would pick up on these repositories it could not create them because of their dependency to `DataManager` (and `LocalAdapter` for now), which is created at runtime with `FlutterData.init()`.

Passing the get_it instance to `Flutte

[2020-05-17 17:20] frank06 commented on #31
Thank you for the detailed comment!  I'm busy with the upcoming 0.4.0 release but I'll have a look after that.

[2020-06-01 20:30] grangoni commented on #7
Hi, are you still planning to share a new version of flutter_data  (with a Firebase adapter)?

[2020-06-02 19:02] frank06 commented on #7
Yes, I'm working hard and almost done redesigning an important part of the system. I need that before the Firebase adapter, but it's part of the short term plan.

[2020-06-02 22:03] grangoni commented on #7
Good to read you're still working on the library (and fb adapter) and plan an update short term!
I'll pospone a bit more the redesign of persistence management in my app and wait for the next release then. Thanks for the great work

[2020-06-07 18:16] sooxt98 opened #35 "Guide for API post request"
How to use this package to do a login request with post data param to API endpoint?
Am i going to create a userlogin repo can call save method?

[2020-06-07 19:05] sooxt98 commented on #35
I see, but is there any to store that token up and auto append to others repo request, so I no need to get the token and use as param Everytime? Something like middleware which auto append as bearer header or token param

[2020-06-07 19:09] frank06 commented on #35
https://flutterdata.dev/cookbook/adapters/#override-headers-and-base-url

[2020-06-07 19:18] sooxt98 commented on #35
@override
get queries {

}

Is this correct for query override?
this package seems awesome , I cone from laravel background and it just looks cool

[2020-06-07 19:21] frank06 commented on #35
Thank you!

For query parameters use `params` instead of `headers`.

[2020-06-07 23:24] sooxt98 commented on #35
Could you explain more on manager.locator, I'm not sure what's that and the service .Can we store the token straight into fluttet_data's hive?

[2020-06-08 06:08] sooxt98 commented on #35
![image](https://user-images.githubusercontent.com/13378059/83997645-70709580-a991-11ea-981c-07efcb9b8ace.png)
Is there any quick fix for this?

[2020-06-08 14:07] frank06 commented on #35
Try to initialize Hive earlier, and use `Hive.box()` which is sync inside `params`. I'll come up with a functional example soon.

[2020-06-08 14:09] sooxt98 commented on #35
@frank06 ahhh, okay; so how to init earlier and pass into this adapter >< The only way i know is to use GET_IT

[2020-06-08 14:20] frank06 commented on #35
I need to think how to make that work with a Provider-only setup.

Here is a workaround, but should work for you. The idea is to lazily fetch `params`, initializing them in an async method (in this case the one performing the HTTP call):

[code]

No need to call `super.params` since it's empty.

[2020-06-08 14:23] sooxt98 commented on #35
But Overall concept I think It will cause performance issue, since it need to open hive box once when sending new request

[2020-06-08 14:24] frank06 commented on #35
No, just the first time. And you need to open your box at some point. As I said I will improve this API but this is what you can do right now.

[2020-06-08 14:26] sooxt98 commented on #35
Yaya I just worried about performace issue haha 😆 thanks for the work around

[2020-06-16 01:32] frank06 commented on #9
The only thing required to switch to lazy boxes (and eventually swap local storage engines) is having async relationships, at least on read, i.e. `await post.comments[1]`

[2020-06-16 01:33] frank06 commented on #5
Won't fix for now

[2020-06-16 01:33] #5 closed

[2020-06-16 01:38] frank06 opened #36 "Implement prefixes in graph notifier"
`key:`, `id:`, etc

Such that adapters as offline can have their own: e.g. `offline:` to prevent key collision

[2020-06-16 01:44] frank06 commented on #7
Any particular pain points with the existing Cloud Firestore package that you'd like to see addressed in Flutter Data?

[2020-06-16 01:47] frank06 opened #37 "throttle graph"
Apply `state_notifier` `throttle` function to graph transformations (relationships, etc)

Test with the fake async package

[2020-06-16 01:48] frank06 commented on #4
Will reopen when Hive v2 is out, or we switch to something else

[2020-06-16 01:48] #4 closed

[2020-06-17 08:21] ngoctranfire commented on #7
@frank06, I think an important pain point I would really like to see is handling of Firebase structures like GeoPoint and Sever Timestamp fields, which needs to be mapped correctly when translated from the server to the client side for consumption and use.

[2020-06-17 16:31] frank06 commented on #7
Thanks! I think that might have more to do with `json_serializable`, but I'll take it into account for sure

[2020-06-18 20:52] frank06 opened #38 "Riverpod, dependency injection fixes"
Allow to supply DI framework for registry and location.

Have minimal extra support for Provider and others, if needed. See `LocatorMixin`.

When allowed to reuse app DI these will be fixed:

 - #35
 - #31 (also register concrete/downstream repos like `PostsRepository`)

[2020-06-19 21:00] frank06 opened #39 "add json serializable @JsonKey test"
Add tests for `@JsonKey(name: '_id)`

Should relationship names go through that mechanism, or through adapters like right now?

[2020-06-22 13:52] rubgithub commented on #19
Page not found

[2020-06-22 15:11] rubgithub opened #40 "Support SQLite"
It is possible extending Flutter Data to use SQLite? More precisely sqfentity  (https://pub.dev/packages/sqfentity#-readme-tab-).

[2020-06-22 15:39] frank06 commented on #40
Having SQLite as local backend is something I definitely want to do (once we have async relationships). Not sqfentity.

[2020-06-22 18:11] rubgithub commented on #40
I'm not pro in Dart, but can you you guide me on firsts steps to start understand and maybe help in this feature?

[2020-06-24 14:02] frank06 commented on #40
Once I'm happy with an API design for async relationships (meaning async relationship model retrieval to support lazy Hive boxes and eventually SQLite) I'll let you know.  Have you gone through the code?

[2020-06-24 17:39] #37 closed

[2020-06-24 19:34] rubgithub commented on #40
Not yet, but I read the documentation https://flutterdata.dev/.
I think I'm going to go through the code and try to understand.

Thanks 👍

[2020-06-24 21:35] #36 closed

[2020-06-24 23:11] frank06 commented on #38
Use/support [Riverpod](https://riverpod.dev/)

[2020-06-25 19:32] #26 closed

[2020-06-26 14:20] frank06 commented on #31
I'm going to make it such that if `GetIt.instance` is present, Flutter Data will register singletons for each repository. Including `Repository<User>` and `UserRepository`

[2020-06-26 17:56] frank06 commented on #39
All it does is generating `id: json['_id'] as String,`, so just do that with `Person` that provides its own `fromJson`

[2020-06-30 03:13] frank06 opened #41 "move JSON API Adapter to new package"

[2020-06-30 03:14] frank06 opened #42 "run deserialize in isolate?"

[2020-06-30 15:01] frank06 commented on #8
https://hasura.io/

[2020-06-30 16:02] #39 closed

[2020-06-30 16:35] #41 closed

[2020-06-30 17:06] frank06 opened #43 "how to expose graph to external adapters?"

[2020-06-30 20:23] arpitjacob commented on #8
GraphQL integration would be amazing, I use Hasura for all my projects.

[2020-06-30 20:45] #43 closed

[2020-07-01 06:36] DFelten opened #44 "Possibility to overwrite the endpoint url?"
Is it currently possible to overwrite the endpoint for the request? I've got a class `PostDto`, but the endpoint is `/post`.

As far as I can see the URL is built from the type and the BaseURL. But is it possible to overwrite the type? I don't want to rename the class because I work according to domain driven design and need a transfer object there.

[2020-07-01 13:55] frank06 commented on #44
Absolutely:

[code]

or something more generic:

[code]

More info here: https://flutterdata.dev/repository/#findall

[2020-07-01 13:55] #44 closed

[2020-07-03 21:15] frank06 commented on #7
https://gist.github.com/Salakar/a36bd0902d7d0c705696da9318cf4e71

[2020-07-04 03:59] jamesdixon opened #45 "belongsTo relationship breaks when there's multiple levels of nesting"
This seems to be a regression in `0.4.2-x` as it works fine in `0.4.1`.

Consider the following payload:

[code]

This is a truncated `Report` model, that has a `BelongsTo<Client>`. `Client` has a `BelongsTo<Inspector>`. The nested `inspector` object triggers the following error:

`[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: type '_InternalLinkedHashMap<String, dynamic>' is not a subtyp

[2020-07-05 21:10] jamesdixon commented on #42
Found an interesting article on this topic: https://cretezy.com/2020/flutter-fast-json

[2020-07-06 15:55] #45 closed

[2020-07-10 15:47] gbenatti opened #46 "FlutterData.init(baseDir, clear: false) crashes the App"
When initializing FlutterData with clear equals false, throws:

E/flutter (30375): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: type '_InternalLinkedHashMap<dynamic, dynamic>' is not a subtype of type 'Map<String, List<String>>' in type cast

at: (Repository.getBox)

final todoBox = await Repository.getBox<Todo>(manager, encryptionKey: encryptionKey);

Flutter doctor:

Doctor

[2020-07-11 01:41] frank06 commented on #46
Thank you for the report! What Flutter Data version are you on, `0.4.1`?

[2020-07-11 21:26] frank06 commented on #1
cancel request with `http.Client`?

[2020-07-13 15:55] gbenatti commented on #46
Sorry the missing info:
  # state management
  provider: ^4.0.5

  # functional stuff
  freezed_annotation: ^0.11.0
  equatable: ^1.1.1

  # networking
  json_serializable: ^3.3.0

  # data
  hive: ^1.4.1+1
  hive_flutter: ^0.3.0+2
  path_provider: ^1.6.7
  flutter_data: ^0.4.1

[2020-07-13 16:00] gbenatti commented on #46
flutter version: 1.17.5

[2020-07-13 16:01] gbenatti commented on #46
dart version 2.8.4

[2020-07-16 04:19] khomsovon opened #48 "Is there any example how to use flutterdata with bloc?"

[2020-07-16 14:50] frank06 commented on #48
Make your bloc depend on repositories.

Here's a small example: https://github.com/flutterdata/flutter_data/blob/8cf4a0ef77ac88c688e65414993c5d4df45b59a3/test/unit/repository/repository_test.dart#L105

I'll leave this open as I want to create an example with flutter bloc and/or cubit at some point.

[2020-07-17 09:18] khomsovon opened #49 "Unhandled error NoSuchMethodError: The method 'findAll' was called on null."
## My adapter

[code]

## Model
[code]

## My usage

[code]

[2020-07-18 18:26] jamesdixon opened #50 "cannot set the value of a belongsTo relationship"
Hi,

Running `0.4.2-dev.3` and I cannot set a belongsTo relationship.

For example, if I try to set `buyer.inspector.value = myInspector`, when I check the value of `buyer.inspector.value`, it resolves as `null`. I can confirm that `buyer.inspector` is resolving to  `BelongsTo<Inspector>` before attempting to set its value.

This appears to be a regression as it does work properly in `0.4.1`.

[2020-07-18 22:33] frank06 commented on #49
Hi! Where are you assigning the value to the `repository` variable? Where does `getCategories()` live?

[2020-07-19 17:48] frank06 commented on #49
Closing for now! Please reopen if you can't figure it out.

[2020-07-19 17:48] #49 closed

[2020-07-20 10:02] khomsovon opened #51 "Unhandled error NoSuchMethodError: The method 'findAll' was called on null."
## My adapter

[code]

## Model
[code]

## My usage

[code]

## Call in CategoryBloc

[code]

[2020-07-20 13:49] frank06 commented on #51
[code]

How can `repository` be anything else than `null`?

I'm not sure I understand the issue. Please explain.

[2020-07-20 17:28] khomsovon commented on #51
in my repository
[code]

[2020-07-20 17:42] khomsovon commented on #51
Repository<Category> repository;
The `repository` variable gets a null value

[2020-07-20 17:47] frank06 commented on #51
Yes, of course it gets a `null` value. You are not assigning anything to that variable.

[2020-07-20 19:41] frank06 commented on #51
You could try this:

[code]

No need for any of this:

[code]

Remember to supply an instance of the repository to your `CategoryBloc`!  Depends if you're using provider, get_it, etc

[2020-07-20 19:44] #48 closed

[2020-07-21 02:08] khomsovon commented on #51
So how to solve this `The method 'findAll' was called on null` error?

[2020-07-21 02:59] khomsovon commented on #51
If I don't  use this
[code]

How can I supply an instance of the repository to my CategoryBloc

[2020-07-21 13:35] frank06 commented on #51
You haven't initialized Flutter Data! Please follow this guide: https://flutterdata.dev/quickstart/

In the part that says "Flutter Data providers are ready at this point", you can initialize your blocs:

[code]

[2020-07-21 13:35] #51 closed

[2020-07-22 20:39] rubgithub opened #52 "The method '$UserModelRepository' isn't defined for the type 'DataManager'."
This is my first attempt with flutter_data, I'm getting this error on `main.data.dart`

The method '$UserModelRepository' isn't defined for the type 'DataManager'.
The argument type 'dynamic' can't be assigned to the parameter type 'Repository<User>'.

My goal is to use with Bloc
This is my code:

[code]

[2020-07-22 21:38] rubgithub commented on #52
VSCode users!

If after generating code you still see errors in your files, try reopening the project. This is not a Flutter Data issue.

[2020-07-22 21:38] #52 closed

[2020-07-23 14:59] frank06 commented on #52
@rubgithub Glad you found out! And hang tight I'm close to releasing `0.5.0`. It comes with breaking changes but a much better framework overall.

[2020-07-24 02:25] #31 closed

[2020-07-24 02:25] #35 closed

[2020-07-24 02:25] #38 closed

[2020-07-24 02:25] #1 closed

[2020-07-24 02:25] #46 closed

[2020-07-24 02:25] #50 closed

[2020-07-27 23:21] frank06 commented on #42
Will eventually implement using https://dart.dev/articles/archive/converters-and-codecs#chunkedconversionsink as default.

Closing for now.

[2020-07-27 23:21] #42 closed

[2020-07-27 23:23] frank06 commented on #9
This last part will come with #40

[2020-07-27 23:23] #9 closed

[2020-07-29 08:05] deadsoul44 opened #53 "flutter_data with mobx"
Is there any documentation about how to use flutter_data with mobx?

[2020-07-29 15:58] frank06 commented on #53
No documentation on it so far. Have you tried making it work?

[2020-08-01 21:49] luketg8 commented on #44
@DFelten did you go with the approach above? If so I'd be interested to hear how you adapted this library to fit with DDD/clean principles ie mapping the DTO to a domain entity whilst still taking advantage of the data repository functionality.

I'm very interested in what this package has to offer but like you I'd rather have the data model separated and the repository returning a domain entity.

[2020-08-01 23:05] frank06 commented on #44
@luketg8 happy to help you make it work. What specifically is blocking you? Any code or architecture diagram you can share?

[2020-08-02 07:32] luketg8 commented on #44
@frank06 thanks for reaching out! Just wanted to say firstly that this package looks great :)

My issue really is that my code structure for each feature follows DDD principles, so basically they each have folders like this
Data
-    DTOs
-    Repositories
Domain
-    Entities
-    Repositories (Interfaces)
Application
-    BLoC/Provider/View Model etc
Presentation
-    Widgets

the issue really a

[2020-08-04 03:25] frank06 commented on #44
Flutter Data can be the core of your Data folder. Use the adapter pattern to fit this to your particular needs, such as your own `PostRepository` having a dependency on the FD-generated `Repository<Post>` (or `Repository<PostDto>`). See my answer above if you need to map your model names to URLs.

Does this help?

[2020-08-04 08:42] luketg8 commented on #44
@frank06 thanks for the suggestion!

I think that sounds like something that could work, I will look into it further 😃

[2020-08-04 13:51] deadsoul44 commented on #53
I did not even try, only wondered. If someone publishes an example, we can close this issue.

[2020-08-16 02:35] rubgithub opened #54 "The name 'xxx' isn't a type"
Almost impossible to develop using vscode, constantly have to delete manually `Usermodel.g.dart` , `main.data.dart` and sometimes close/open vscode.

v0.5.0

[code]

[code]

[2020-08-16 16:16] rubgithub commented on #54
Maybe my mistake because I was not defining `@JsonSerializable()` or

[code]
I'm going to do more tests.

[2020-08-16 16:16] #54 closed

[2020-08-18 15:38] rubgithub opened #55 "Generated class name different from the original"
The file original name is `AuthConfigModel` but flutter_data generates `AuthconfigModel` inside main.data.dart

[code]

[2020-08-18 19:57] rubgithub opened #56 "Where's interceptor?"
How can I use interceptor v0.5.0?
Previously was
`FutureOr<R> withResponse<R>(response, onSuccess) async {`

[2020-08-18 19:59] frank06 commented on #55
Yes, sorry, this is a bug that is already fixed in a local commit. I will push this as soon as I can.

In the meantime, could you manually change it to `AuthConfigModel` in the generated file?

[2020-08-18 20:02] frank06 commented on #56
Yes, I'm still working on the 0.5.0 docs.

The new method is using the `sendRequest` API.

What exactly do you need to do?

[2020-08-18 20:03] frank06 commented on #56
This is one example:

[code]

[2020-08-18 20:30] rubgithub commented on #55
I'm gonna change `AuthConfigModel ` and wait next update, thanks.

[2020-08-18 20:30] #55 closed

[2020-08-18 20:36] rubgithub commented on #56
Ok, I'll wait.
By the way, how can I override timeout?

[code]

[2020-08-18 20:38] frank06 commented on #56
[code]

[2020-08-18 20:40] rubgithub commented on #56
0.5.1?

[2020-08-18 20:53] rubgithub commented on #56
Waiting documetation update.

[2020-08-18 20:53] #56 closed

[2020-08-19 00:12] rubgithub opened #57 "Injection warning"
[code]
`main`

[code]

Although injection works fine, I'm getting this warning, Is there any way to get rid of this?

[2020-08-19 00:34] rubgithub opened #58 "Casting Error 'Repository' is not a subtype of type 'xxxAdapter'"
[code]

[code]

[code]

[2020-08-19 00:36] frank06 commented on #58
Please use `final ret = await repository.login2('affd', 'teste');`

[2020-08-19 00:36] #58 closed

[2020-08-19 00:40] rubgithub commented on #58
I tried but don't know why it doesn't recognize.

![image](https://user-images.githubusercontent.com/3399476/90579049-ddbf5480-e192-11ea-82eb-0fb506146de2.png)

[2020-08-19 00:45] frank06 commented on #58
Yeah, for that to exist you'd need to re-run code generation.

Alternatively you could do:

[code]

Let me know if any of these work.

[2020-08-19 01:16] rubgithub commented on #58
It works after close/open vs code, thank you.

I did it many times and checked inside `todo.g.dar` and the method extension was there.
That was blowing my mind :)

[code]

[2020-08-19 01:18] frank06 commented on #58
Great. Yes, VSCode is a pain with generated code!

[2020-08-19 01:21] frank06 commented on #57
Sorry, this is unrelated to Flutter Data.

It seems that Injectable does not work with classes already registered with GetIt?

[2020-08-19 01:21] #57 closed

[2020-08-19 11:57] rubgithub commented on #55
I was looking at source code, is this line that fix the problem?

`i.registerSingletonWithDependencies<Repository<${(c['name']).capitalize()}>>(`

 `data_library_builder.dart`

[2020-08-19 22:24] frank06 commented on #58
I just release `0.5.1` if you'd like to try with that!

[2020-08-20 15:18] rubgithub commented on #56
I'm on 0.5.1 and do not notice any change, am I wrong?

[2020-08-20 15:37] luketg8 opened #59 "Support Riverpod > 0.6.0"
Riverpod has recently been updated and with this has introduced breaking changes (https://pub.dev/packages/riverpod/changelog) would it be possible to update the version of Riverpod used by this library?

[2020-08-20 15:46] frank06 commented on #59
Yes, top priority! Thanks for reporting

[2020-08-20 18:57] rubgithub commented on #56
This one.

[2020-08-20 18:59] rubgithub commented on #56
I got it, thanks.

[2020-08-21 02:59] #59 closed

[2020-08-21 03:14] frank06 commented on #59
Released `0.5.2`

[2020-08-25 10:48] erkebek commented on #33
Would be very great to make a documentation with BLoC pattern. For now it seems very tightly coupled with Hooks and Riverpod.

[2020-08-29 18:17] rubgithub opened #60 "LocalAdapter"
Hi there!

How to set my model to work only with local data (hive)?

I'm doing this
`mixin LocalBaseAdapter<T extends DataModel<T>> on LocalAdapter<T> {}`

And my adapter:
`mixin TodoAdapter on LocalAdapter<TodoModel > {}`

builder error:

[2020-08-29 19:18] rubgithub opened #61 "FormatException: Not an instance of List."
This error started to happen after trying to use LocalAdapter  describes here (https://github.com/flutterdata/flutter_data/issues/60)
Don't know if it makes sense.

v0.5.1

[2020-08-29 19:30] frank06 commented on #60
All models are **always** stored locally on Hive. You don't have to do anything. And no, you can't create a mixin on `LocalAdapter`.

Sorry for the delay in documentation, I was sick this week.

[2020-08-29 19:30] #60 closed

[2020-08-29 19:31] frank06 commented on #60
If you want to access the local instances, use `remote: false` on `findOne`, `findAll`, etc

[2020-09-07 21:14] rubgithub commented on #61
After weeks trying to find a reason for the error, I figure out that removing the import line of the object  `AuthModel`
`import 'package:mypackage/..../auth_model.dart';``
And adding again   `CTRL+.` (control + dot)

I'm still getting some generator issues, sometimes I have to add imposts manually. 😥

[2020-09-07 21:14] #61 closed

[2020-09-11 15:45] frank06 commented on #61
Hey, I'm really sorry I couldn't get to this. Feel free to open another issue if you still have problems with the generator.

[2020-09-13 11:59] ac130kz opened #62 "Support riverpod >0.10.0, state_notifier >0.6.0"
Riverpod and state_notifier got several updates ([https://pub.dev/packages/riverpod/changelog](https://pub.dev/packages/riverpod/changelog), [https://pub.dev/packages/state_notifier/changelog](https://pub.dev/packages/state_notifier/changelog)), which were mostly bug fixes. Could you please update them to the latest versions?

[2020-09-14 22:07] rubgithub opened #63 "LocalStorage"
Hi there, this is my settings

[code]
I would like to know if  it's normal ` getIt.alReady` instantiate every previously recorded data.

I mean ` getIt.allReady` loop through my `TodoModel extends DataModel<TodoModel>` and instantiates all my previously recorded data, is it normal?

[2020-09-16 13:58] frank06 commented on #63
When you use `clear: false` (which should be the default now), Hive will instantiate all its serialized objects. Try switching that flag and see what happens.

I don't understand what is the relationship with `getIt.allReady()`.

Check out https://github.com/flutterdata/flutter_data_setup_app for how to set up apps with GetIt, Riverpod and Provider.

[2020-09-16 13:59] frank06 commented on #62
Sure, I will get to that as soon as I can.

[2020-09-16 18:09] #62 closed

[2020-09-16 18:19] frank06 commented on #62
@ac130kz done

[2020-09-17 03:52] chimon2000 commented on #8
Hasura & faunadb would be extremely nice

[2020-09-20 21:20] rubgithub opened #65 "Data saved locally returns null"
[code]

`Data from API`
[code]

`Saving locally`
[code]

My API only returns `title` so I'm ignoring `id` to avoid `null error (deserialize(json.decode(response.body));)`

If the field is tagged  with  `@JsonKey(ignore: true)` it returns null ( happens after restart).
If I query (` await findOne('1', remote: false);`) the same object without restart, the data returns correct `(id: 1)`.

[2020-09-25 12:13] rubgithub commented on #65
I had to create a 'fake' data return (id) to my API to avoid this issue.

[2020-09-25 12:13] #65 closed

[2020-10-03 00:18] frank06 commented on #65
Correct, Flutter Data doesn't support ID-less entities at the moment.

[2020-10-03 00:19] frank06 commented on #65
An alternative solution would be to override `deserialize` and return a UUID as `id`

[2020-10-03 12:40] rubgithub commented on #65
Ok, But it occurs with any data that has only in my model and doesn't in my json return, for example
 ` @JsonKey(ignore: true) String dataCreated`
Is this the same as `id`? Do I have to override `deserialize`?

[2020-10-09 12:47] rubgithub opened #66 "How to access repository from main()?"
Hi, this is my `main` flutter_data initual configuration:

[code]
My IU hasn't any information about my repository (I'm using BLOC), but I need to load my initial configuration from my repository, any tip on how to do that?

Thanks.

[2020-10-09 13:03] rubgithub commented on #66
I was able to do that using `getIt`

Thanks.

[2020-10-09 13:03] #66 closed

[2020-10-11 16:08] khomsovon opened #67 "The method 'read' isn't defined for the type 'BuildContext'."
[code]

### error messages

The method 'read' isn't defined for the type 'BuildContext'.
Try correcting the name to the name of an existing method, or defining a method named 'read'

[2020-10-11 21:47] rubgithub commented on #67
I ain't use this approach but I think you should use `ProviderScope`:
[flutter_data_todos Sample](https://github.com/flutterdata/flutter_data_todos/blob/master/lib/main.dartl)

[2020-10-12 16:56] frank06 commented on #67
Thanks @rubgithub , that is correct.

@khomsovon You need to import the provider library in order to load the `read` extension on `BuildContext`

[2020-10-12 16:56] #67 closed

[2020-10-19 20:45] rubgithub opened #68 "StackOverflowError when the sendRequest method is overridden"
This is my `BaseAdapter`

[code]

This is how I'm calling the overrided method
[code]

![flutter_data](https://user-images.githubusercontent.com/3399476/96508256-50e35680-1228-11eb-97dc-cff38e47bee1.gif)

Looping and throw Stack Overflow

_ps: It works fine if I don't override `sendRequest `_

[2020-10-19 23:43] rubgithub commented on #68
That `super` blinds me :/

But I'm still confused, can you help me to implement `.timeout(const Duration(seconds: 5));`

[code]

[2020-10-19 23:43] #68 closed

[2020-10-25 20:06] rubgithub opened #69 "Set sendRequest timeOut"
How to set a timeout by overriding `sendRequest`?

[code]

[2020-10-25 21:38] frank06 commented on #69
I would try:

[code]

If you need more fine-grained control you can probably override the `sendRequest` function, wrapping `super.sendRequest(...)` in a `Future.timeout`. I haven't tried it, but let me know how that goes.

[2020-10-25 21:38] #69 closed

[2020-10-26 15:16] rubgithub commented on #69
I'm getting timeOut twice (after 5 seconds and after S.O timeout default) when `wrapping super.sendRequest(...)`:

The first option I'm getting  `A value of type 'HttpClient' can't be returned from function 'httpClient' because it has a return type of 'Client'.` Is this part of 'dart:io' package?
[code]

[2020-10-26 16:00] ac130kz opened #70 "dio support?"
I'm not sure whether it's possible to override the default http client by dio, you mentioned it in https://github.com/flutterdata/flutter_data/issues/1. If you can show an example, I'll be really grateful.

P.S. I'm also surprised that you don't apply [compute() background processing](https://flutter.dev/docs/cookbook/networking/background-parsing) for json decoding/encoding.

[2020-10-26 17:05] frank06 commented on #70
Curious, what are the advantages of using Dio in Flutter Data? If there are good ones I'd be open to a pull request.

Parsing JSON with `compute()` can make the process slower because of the overhead of communicating with an isolate. It's probably a good idea for very big payloads that cause the UI to freeze. If you need it, you can override `sendRequest` and use it!

[2020-10-26 17:45] ac130kz commented on #70
I find interceptors, file uploads/streams easier to implement, than using the default client's API

Good to know! I'll try to implement a threshold, I see some evidence in the Flutter framework [itself](https://github.com/flutter/flutter/blob/183fe75d58131c10a4abb920c4d540c877c9e897/packages/flutter/lib/src/services/asset_bundle.dart#L74)

[2020-10-28 14:15] rubgithub opened #71 "sendRequest Timeout"
https://github.com/flutterdata/flutter_data/issues/69
I'm getting timeOut twice (after 5 seconds and after S.O timeout default) when `wrapping super.sendRequest(...)`:

The first option I'm getting  `A value of type 'HttpClient' can't be returned from function 'httpClient' because it has a return type of 'Client'.` Is this part of 'dart:io' package?
[code]

[2020-10-30 16:50] rfuerst87 opened #72 "Using flutter_data without provider seems to be outdated"
I was trying to get flutter_data running without provider. https://flutterdata.dev/cookbook/configure/ seems to be outdated. `FlutterData.init()` doesn't seem to exist anymore. Also auto-generated code in `main.data.dart` seems to be tightly coupled to provider. Is it still a thing to use flutter_data without provider? If yes, how?

[2020-11-01 17:10] andreacioni commented on #72
How are you plannig to manage states? I saw the [ToDo](https://github.com/flutterdata/flutter_data_todos) example and there you can find an example using [Riverpod](https://pub.dev/packages/riverpod).

[2020-11-01 17:22] rfuerst87 commented on #72
I was trying to build a quick prototype using BLoC. According to the readme this should be possible without much hassle. It just seems like the docs are outdated. Maybe I give riverpod a shot as well. Anyway I was wondering whats currently supported and whether it would be possible to update docs.

[2020-11-01 19:06] andreacioni commented on #72
By now looking through the code seems to be the only way to understand how to work with this awesome library. I'm waiting too for the updated docs 🤩

[2020-11-02 12:46] rubgithub commented on #72
I'm using with BLoC+freezed+injectable+getIT
This is my initial configuration:

[code]

`Model`

[code]

[2020-11-03 12:44] rfuerst87 commented on #72
Hi @rubgithub, thanks for sharing an example. I'm currently doing some tests with riverpod, but the version pub.dev seems to be outdated as well... Are there any plans updating the package and documentation?

[2020-11-03 15:56] frank06 commented on #72
@rfuerst87 have a look at https://github.com/flutterdata/flutter_data_setup_app – that should be up to date! There are examples for Provider, Riverpod and GetIt.

Sorry for the delay in updating the docs. I'm super busy at the moment but I'll get to it. They are 70% done.

In addition I had an issue with pub.dev because Google kicked me out of my account. Use git for the latest versions. I will fi

[2020-11-03 18:46] andreacioni commented on #72
If it may help someone, here is how you could work with the most recent version of this library even if it isn't published on pub.dev (yet):

1. Git clone/download the repository
1. Place it wherever you want and set the `pubspec.yaml` accordingly (below is mine, I placed flutter_data on the root folder of my project):
[code]

[2020-11-03 23:21] andreacioni opened #73 "Type mismatch in event keys and id"
I'm having problem while using a Repository for an API that exposes resource type with a dash (like: /api/v1/_shopping-lists_).
I did some researches and I found that this check will never be passed:
https://github.com/flutterdata/flutter_data/blob/9e0b37d17944156700bca5f559d127b92ea54589/lib/src/repository/remote_adapter_watch.dart#L53

It seems that _keys_ in the event are generated without taki

[2020-11-04 01:03] frank06 commented on #73
Sure, the type is fine like that.

In your adapter, use `urlForFindAll` and others to override the URL:

[code]

where

[code]

I agree that this could be more elegant, but it should work for now.

[2020-11-04 01:03] #73 closed

[2020-11-04 01:04] frank06 commented on #72
Might be even easier to:

[code]

[2020-11-04 01:08] frank06 commented on #72
@rfuerst87  I think you should even be able to get the repos without any DI library. There's a tiny example of how to pass a repo into a bloc in the tests.

Are all your questions answered? Can we close this issue?

[2020-11-04 01:09] frank06 commented on #71
You need to wrap it in a `dart:io` client, like `return IOClient(client);`

[2020-11-04 01:09] #71 closed

[2020-11-04 07:30] rfuerst87 commented on #72
@frank06 yes thank you. Keep up the good work!

[2020-11-04 07:30] #72 closed

[2020-11-04 16:25] jamesdixon opened #74 "relationship name can only be named the camelCased version of the relationship type"
For example, if you have `HasMany<InspectionService>`, it must be named `inspectionServices` or else the relationship won't be properly populated.

Attempted to use `@JsonKey(name: 'inspectionServices') HasMany<InspectionService> services` but this resulted in the following error:

![image](https://user-images.githubusercontent.com/110114/98137809-a30ab580-1e7f-11eb-975b-c221dc470b56.png)

[2020-11-07 23:31] andreacioni opened #75 "Stuck in isLoading state if findAll returns an empty list"
It seems that if there are no data returned by the findAll method (empty list) the `DataStateBuilder.builder` function _state_ parameter will never be called with `isLoading == false` and that results in infinite loading screen. No problems were detected if there is at least one element returned by the forementioned method.

I'm able to provide you more details if needed, thank you!

[2020-11-08 00:29] frank06 commented on #75
Hey @andreacioni absolutely, I ran into that issue as well. I hope to get to it soon. Thanks for reporting it.

An **untested** workaround would be (in `remote_adapter_watch.dart`)

[code]

[2020-11-08 16:34] andreacioni commented on #75
Perfect, it works! I'm trying to undestarnd why this solution couldn't replace the line: https://github.com/flutterdata/flutter_data/blob/d802ab727279a76aeedc6dd163065d27d703c528/lib/src/repository/remote_adapter_watch.dart#L82

Because your suggested solution seems to be the most understandable. In fact when the future resolves successfully you can tell to the listeners that your data is ready to

[2020-11-10 04:09] frank06 commented on #75
State is updated through the graph (via `DataGraphEvent`s).

As the HTTP request is resolved, the deserialization mechanism will save updates to local storage and trigger events. Without resources to deserialize, the updates were never triggered.

I fixed it with a new event to ensure the state gets updated with `isLoading=false`.

Let me know if that works for you:

[code]

[2020-11-10 04:09] #75 closed

[2020-11-10 04:31] frank06 opened #76 "support queries/filters"

[2020-11-10 21:02] andreacioni commented on #75
Just tested, and yes, it works!

[2020-11-11 20:56] andreacioni opened #77 "How to deal with offline/online connection states"
Hi Frank! I've set up everything with the latest version of `flutter_data` and `flutter_data_state` and all the stuffs work pretty well (some refinement to be done yet). Now I'm looking for a way to handle offline/online states, I read all the docs and the tutorials you made but it's not completely clear, for me, how to deal with them.

Let me explain better. From the first time I used this librar

[2020-11-11 21:01] frank06 commented on #77
Correct, for now you can play with `remote: false` and the `shouldLoadRemoteAll`, `shouldLoadRemoteOne` callbacks.

When I published the docs I was about to finish the `OfflineAdapter` but got sidetracked and never really got to finish it. It's still in the plans. The new docs are 80% there and still have to get to them. I apologize for the delays and confusion.

That said, the primitives are ther

[2020-11-11 21:21] frank06 commented on #77
I'll leave this issue open as a reminder. In any case, feel free to ask more questions.

[2020-11-11 23:21] frank06 commented on #77
FWIW I regained access to pub.dev so you can simply `flutter_data: ^0.5.14` in your `pubspec.yaml` from now on

[2020-11-12 01:20] frank06 opened #78 "[internal] remove graphs"
Would it be possible to "reduce" all data model types as an alternative to having them grouped in graphs? Feels brittle and might cause issues

In addition, sort all of them alphabetically so that subsequent codegen builds cause less unnecessary git diffs.

[2020-11-12 01:20] #53 closed

[2020-11-12 21:28] andreacioni commented on #77
Just a wondering, have you ever thougth to adopt a different behaviour for the offline adapter? I mean, you could always return the cached version and then, silently, make a remote call that will eventually trigger a rebuild. This may be the default behaviour and the `remote` parameter could be used to force the data source to use.

It's an idea but I think it could help the majority of the users,

[2020-11-12 22:32] frank06 commented on #77
That *is* the default behavior.

What do you mean by "force the data source to use"?

If you want pure offline, you can pass `remote: false` to every single call. Or otherwise override `shouldLoadRemoteAll` and return `false` (or implement your own strategy)

[2020-11-13 20:19] andreacioni commented on #77
Ok, maybe I'm missing something. Looking at the `remote_adapter.dart` file I see:

[code]
This method is called by the notifier.watchAll(remote: true/false) so with the remote parameter you are choosing the data source (with `remote==false` you look for data on local and otherwise you go online). This logic got drived from the user that has the control to choose when to contact the remote REST API

[2020-11-13 20:22] frank06 commented on #77
From what I understand, the behavior you want is provided by `watchAll`

[2020-11-14 15:17] andreacioni commented on #77
You are rigth, I was misled by another problem (?), sorry. Suppose this scenario:

1. First application startup: no local data & remote data available (user reinstall the application), flag `clear: false`
1. Internet connection available
1. Data will be downloaded and displayed correctly, everything's fine. **No updates on data performed**.
1. User close app
1. Internet connection will become **un

[2020-11-14 22:44] andreacioni commented on #77
I've found out the problem, it was a deserialization issue not related to this library but that was really hard to find. It was about an uncaught exception raised in HiveLocalAdapter.read():

https://github.com/flutterdata/flutter_data/blob/221333e46b24f1d9f4e66b3d8d0483a36cc29487/lib/src/repository/hive_local_adapter.dart#L158

[code]

Could be an idea to add a log of the error/warning here?

htt

[2020-11-15 15:03] andreacioni opened #79 "[provider] The method 'watchAll' was called on null"
Since the first time I've used this library I'm experiencing a weird problem: it seems that repositories aren't available rigth after the application start up causing this exception:

[code]

After a while, when the repository become available, the view gets refreshed and everything works as expected.

If I use debugger I clearly see that at first run this call: `context.watch<Repository<Todo>>()`

[2020-11-15 22:11] andreacioni commented on #79
After some researches I've found out that this issue is related to the presence in the widget tree of a FutureProvider without `initialData` provided. When the widgets tree was initially built no repository is available yet and `watchAll` can't be called.  When the future resolves all the repository become available and the problem's gone.

One workaround could be to show up some loading indicator

[2020-11-16 17:36] frank06 commented on #79
How are you initializing your app?

Here's an example with Provider, Riverpod and GetIt: https://github.com/flutterdata/flutter_data_setup_app

[2020-11-16 17:36] #79 closed

[2020-11-16 17:41] frank06 commented on #77
I'm not sure why that would happen. How does your data model look like?

[2020-11-17 20:42] andreacioni commented on #77
In my case I've a field in an object that holds a list of nested objects like that:

[code]

I had to add the `@JsonSerializable(anyMap: true)` as a temporary workaround to get it work.

[2020-11-18 05:13] frank06 commented on #77
Okay. Does it work as an embedded map?

If `Element` is a data model, the issue with that payload is that `elements` have no `id` attribute.

[2020-11-18 18:24] andreacioni commented on #77
Ok I understand, actually it is a data model and I would like to keep it unchanged (I don't like to work with plain embedded map), however the `anyMap` flag it's curently a good compromise.

[2020-11-18 20:33] andreacioni opened #81 "Calling Repository<T>.save() doesn't trigger a rebuild"
I was playing around with your library and I run into a possible bug (feel free to close this issue in case it isn't).

I've a widget with a standard `DataStateBuilder` like that:
[code]

I've always thought that calling `save()` on the _model_  would have triggered the `builder` method of `DataStateBuilder` widget but this is not the actual behaviour. If I want to see the update on the model refl

[2020-11-18 21:39] andreacioni commented on #81
I figured out it was related to this check:

https://github.com/flutterdata/flutter_data/blob/93975e417a1ce942dbe6f66f2b754abba670651b/lib/src/repository/remote_adapter_watch.dart#L213

In my case I overrided the `==` operator in _model_ so that condition, sometimes, is not true. Changing the `==` override to include a comparision with every single instance attribute solved the issue and the notif

[2020-11-18 23:27] frank06 commented on #81
Right, correctly implementing `==`/`hashCode` is important.

[2020-11-23 14:17] christianmds opened #82 "CRUD urls on web"
When making a request on mobile, our API is being hit with `GET /users/123` which is what we want. However on web, it's instead `OPTIONS /http://localhost:46843/users/123`. For some reason the url the app is being served from (`localhost:46843`) gets injected into the request url.

It may be important to know that we have overridden the `baseDirFn` parameter of the `configureRepositoryLocalStorage

[2020-11-23 18:04] andreacioni commented on #82
It could be a CORS related issue. I had the same problem when I moved to Flutter Web, you have to add an handler on your CRUD API to respond with an appropriate `Access-Control-Allow-Origin` to every OPTIONS request. It migth be `Access-Control-Allow-Origin: *` in _non-productive_ environment.

[2020-11-23 18:11] tmartineau commented on #82
No it's not CORS (I am working on the project with @christianmds) the problem is that the url that flutter_data is calling is injecting the domain that the web project is running on. For example the local API is running on `localhost:3000` but flutter_data is calling `http://localhost:3000/http://localhost:46843/users/123`. In this example the web app is running on `localhost:46843`. CORS is not c

[2020-11-23 18:47] frank06 commented on #82
Interesting... that definitely looks like a bug. Last time I tested on web was months ago and that didn't seem to be an issue with the Todos app, but it's very possible that stopped working.

Unfortunately I won't have time to look at this for at least 2 weeks. If you manage to find out, I'll happily review a PR.

[2020-11-23 19:17] tmartineau commented on #82
@frank06 thanks for the response... I think we narrowed it down to the `path_helper.canonicalize` that happens in the `/` operator in the extensions file.

[code]

Seems that `path.canonicalize` is doing some stuff in the `absolute` method that inserts `current` into the string which according to the comments "On the browser, [style] defaults to [Style.url] and [current] defaults to the current UR

[2020-11-23 19:42] christianmds commented on #82
After a bit of experimenting, it looks like using `normalize` over `canonicalize` removes `http://localhost:46843/` from the request url: `return replace(path: path_helper.normalize('/${this.path}/$path'));`

Our experience is pretty limited in this area, so we don't know the differences between `canonicalize` and `normalize`, or if this would end up breaking other things.

[2020-12-20 17:30] kevin4dhd opened #83 "Pagination"
How to implement pagination with this library?

[2020-12-21 21:37] kevin4dhd opened #84 "JsonKey for the class name"
I have a class called User, and the rest api is www.api.com/user, but using watchAll it calls www.api.com/users, how do I fix it?

[2020-12-21 21:41] frank06 commented on #84
You have to override `urlForFindAll` in your adapter.

Please read the docs: https://flutterdata.dev/repository/ and https://flutterdata.dev/repository/adapters/

There might not be 100% up to date, but you will understand how Flutter Data works.

[2020-12-21 21:41] #84 closed

[2020-12-21 21:43] frank06 commented on #83
Your API should support pagination.

Here's an example of how a pagination query could look like:

[code]

[2020-12-21 21:43] #83 closed

[2020-12-21 22:06] kevin4dhd commented on #84
Thank you very much, I have achieved it, one last question not to create another issue, is it possible to change the data type of the id? I'm working with mongo, sorry for so many questions
![image](https://user-images.githubusercontent.com/22886367/102826537-db723e80-43ae-11eb-81e6-0a9c0464dc2c.png)

[2020-12-21 22:10] frank06 commented on #84
Yes, it's definitely possible. Is your ID a `String`? Try it out

[2020-12-22 09:59] kevin4dhd commented on #84
Thanks, what a fool I was, I had put a string with the lowercase S

[2020-12-22 23:46] kevin4dhd opened #85 "override type"
Hello, it's me again, I hope you don't mind that I ask so many questions, I'm trying to change the name of Type, in the documentation it indicates this

// or even
@override
String get type => 'USERS';

pero al usarlo ahora, parece que cambio el codigo fuente que me sale esto.

![image](https://user-images.githubusercontent.com/22886367/102943321-a97fdb80-4485-11eb-8612-06da3b346b28.png)

Cual es

[2020-12-23 16:26] frank06 commented on #85
Yes, I will do my best to update the docs but I'm very busy right now.

Do not override `type`. Use `urlForFindAll` and `urlForFindOne`

[2021-01-20 14:14] chrallard opened #86 "Failed assertion: boolean expression must not be null"
Unable to run `flutter packages pub run build_runner build`. The build fails with the error:

[code]
This error is repeated for all of our Flutter Data models.

Versions:
[code]

[2021-02-25 16:00] #85 closed

[2021-02-25 16:54] frank06 commented on #86
@chrallard A few questions:

Is `0.5.20` the resolved Flutter Data version on `pubspec.lock`?

Could you please show me your `user.dart` model? Or any model that makes the builder fail?

[2021-02-25 16:54] #77 closed

[2021-02-25 16:55] #33 closed

[2021-02-25 16:56] #82 closed

[2021-02-25 17:05] frank06 commented on #70
Dio interceptors are a direct competitor to Flutter Data adapters. That said, they can both perfectly coexist. For now, won't fix.

[2021-02-25 17:05] #70 closed

[2021-02-25 17:06] frank06 commented on #40
Not happening anytime soon.

[2021-02-25 17:06] #40 closed

[2021-03-04 01:14] #86 closed

[2021-03-09 03:03] yixiangfeng opened #87 "abount the flutter_data version 5.20"
when i use the version 5.20 can't get the data when i call `userProvider(repositoryInitailizerProvider())`,if i use 5.17 can go to the TodoScreen;

[code]
 main.data.dart;
[code]
pubspec.lock
[code]

[2021-03-09 13:04] frank06 commented on #87
I don't know exactly what is going on there. But I am working now, as we speak, fixing things on the initializer. The sample app is completely rewritten too. It will be published when I have the next release ready. Very soon

[2021-03-10 02:46] yixiangfeng commented on #87
next version can work on flutter 2.0?

[2021-03-10 15:39] frank06 commented on #87
The immediate next version, I don't think so.

I want to assess the effort to migrate to null safety for the next major release.

[2021-03-12 01:04] frank06 commented on #87
Could you please try release `0.6.0`? This should be fixed. If it doesn't, please reopen this issue.

[2021-03-12 01:04] #87 closed

[2021-03-12 01:05] frank06 commented on #76
Implemented `filterLocal`

[2021-03-12 01:05] #76 closed

[2021-03-12 02:41] frank06 commented on #74
Fixed

[2021-03-12 02:41] #74 closed

[2021-03-12 04:28] frank06 opened #88 "fix failing freezed two-way relationships"
Throws a stack overflow

[2021-03-12 04:29] frank06 opened #89 "remove provider & get_it"
Will only support Riverpod from here on

[2021-03-12 04:29] frank06 opened #90 "null-safety support"

[2021-03-12 04:31] frank06 opened #91 "mirage-like adapter"
Mocks CRUD endpoints with dynamic dummy data

https://miragejs.com/docs/main-concepts/route-handlers/

[2021-03-13 23:39] rubgithub commented on #89
Hi there, does this mean that I won't be able to register my repositories through extension method?
[code]
If yes, It'll have another possibility?

[2021-03-14 17:34] frank06 commented on #89
I need to check but the idea is to provide recipes without having to directly support GetIt

Have you been able to upgrade? How are you finding Flutter Data?

[2021-03-15 20:39] rubgithub commented on #89
Yes, I've upgraded to 0.6.3
I'm very satisfied, Flutter Data, it is going pretty well for me.

By the way
I saw that `OnDataError onError` now returns `FutureOr<void>` instead of `FutureOr<R>`
I figured out that there is an override on documentation:
[code]
How can I override `sendRequest`  onError to returns onError<R> instead of void?

[2021-03-15 23:18] #88 closed

[2021-03-16 00:25] frank06 commented on #89
How are you using the `onError` function? Which part of your code is consuming it?

I changed this because I coudn't find a reason not to return `void`.

[2021-03-16 00:33] frank06 commented on #89
Making it `FutureOr<R>` would mean that the following:

[code]

would show a warning as the closure does not return a `Family`. And it doesn't make sense to return a `Family`.

Can you show me an example where it does make sense to return from `onError`? @rubgithub

[2021-03-16 01:57] #78 closed

[2021-03-16 11:57] rubgithub commented on #89
Functional Programming

[code]

[2021-03-16 16:44] frank06 commented on #89
Alright. That makes sense. I wonder are you using any of the higher level APIs like `watchOne`, `watchAll`?

Added a type param on `sendRequest` so we can both be happy.

https://github.com/flutterdata/flutter_data/commit/b6d501cbbb218c16a6d903f69ea108c1738e8aa3

That said, if I find this challenging when porting to null safety, I might remove it again.

Same goes for the provider and get_it codeg

[2021-03-16 16:44] #89 closed

[2021-03-16 16:47] frank06 commented on #28
Rather work on sample apps and build adapters as needed

[2021-03-16 16:47] #28 closed

[2021-03-16 16:48] frank06 commented on #8
Happy to implement it as paid work! Let me know if interested

[2021-03-16 16:48] #8 closed

[2021-03-16 21:21] rubgithub commented on #89
No, I don't

Thank you, that give me some time to adapt my code.

Appreciate that, thank you.

[2021-03-17 21:39] frank06 commented on #19
Closed in https://github.com/flutterdata/flutter_data/commit/17f08057d0027b3519ca40a3ab23fb75c1b25504

Exposes:
 - `offlineModels`
 - `saveOfflineModels()`
 - `forgetOfflineModels()`

 - Backoff or other usage of these primitives is left to clients to implement
 - Timeouts can easily be implemented via `connectionTimeout` on `http`, which throws a `SocketException` (can be changed with the upcomin

[2021-03-17 21:39] #19 closed

[2021-03-19 06:48] abdhoms opened #92 "Support for Flutter 2.0 and null safety"
This package doesn't work anymore with latest version of build runner, dart, & flutter.

[2021-03-19 11:39] rubgithub commented on #92
Check it out
https://github.com/flutterdata/flutter_data/issues/90

[2021-03-19 14:19] frank06 commented on #92
It's next up

[2021-03-19 14:19] #92 closed

[2021-03-24 00:04] frank06 opened #93 "replace hive local backend with isar?"
https://github.com/isar/isar

[2021-03-24 21:40] rubgithub commented on #93
Very interesting project, very useful to large data.
Any plans to this replacement?

[2021-03-31 21:40] frank06 opened #94 "remove hivetypeadapters"
Look into having one box and using native types for that. Should get rid of that hard to reproduce issue with `typeId`s.

[2021-04-02 14:32] andreacioni opened #95 "Dependency on DataStateNotifier confusion"
Hi Frank,

I saw lot of work is going on here and so I wanted to try a new version of this package. I upgraded from `0.5.17` to `0.6.3` and I'm facing this issue here:

![immagine](https://user-images.githubusercontent.com/7473284/113422497-1e3fab80-93cd-11eb-95ed-2040121a9b69.png)

Where the red line under _notifier_ say that:

[code]

It seems that there is some confusion between dependency Data

[2021-04-02 14:39] frank06 commented on #95
Hi @andreacioni, my apologies for the confusion. `DataState` has been incorporated in the latest releases of FD and the `flutter_data_state` will be deprecated.  I am about to release `0.7.0` (early next week) along with the new documentation site which will make everything clear again.

Riverpod is the easiest way of getting it running. Do you use Provider?

I recommend you check out https://gith

[2021-04-02 14:58] andreacioni commented on #95
Yeah I'm on Provider since my project begun so right now I'm just studying Riverpod and planning how to migrate. By now I'll stay on Provider and I'll use the example you provided, thanks.

Looking forward to see new docs & features! 😃

[2021-04-02 15:06] #95 closed

[2021-04-09 22:13] rubgithub opened #96 "Failed assertion: boolean expression must not be null"
`sdk: ">=2.11.0 <3.0.0"`

My `build_runner` process is failing, I believe that was because I ran `dart migrate --skip-import-check`
Do you have some advice how to solve it?

Thanks

[2021-04-10 00:42] frank06 commented on #96
Are you trying to migrate to null-safety?

[2021-04-10 12:46] rubgithub commented on #96
I was trying to,
Running dart `migrate --skip-import-check`
Changing `sdk target`
But I rollback and now I'm getting this error

[2021-04-17 19:08] frank06 commented on #96
Please follow #90 for developments on null safety. I will start that in about 2 weeks.

[2021-04-17 19:08] #96 closed

[2021-04-17 19:09] frank06 opened #97 "self-loading relationships API"
Something like `LoadableModel` in https://embermap.github.io/ember-data-storefront/docs/guides/working-with-relationships

[2021-04-20 18:12] frank06 opened #98 "logos"
<img width="555" alt="logos" src="https://user-images.githubusercontent.com/66403/115444364-79053f80-a1e2-11eb-9498-ee86718a4be5.png">

[2021-04-20 18:13] #98 closed

[2021-04-29 09:25] danielnordh opened #99 "Update Analyzer dependency to 0.40 to support latest auto_route"
Flutter_data is 0.7 is incompatible with auto_route_generator 0.10 due to different analyzer version dependencies.

`Because auto_route_generator >=0.6.10 depends on analyzer >=0.40.0 <2.0.0 and flutter_data >=0.5.13 depends on analyzer ^0.39.5, auto_route_generator >=0.6.10 is incompatible with flutter_data >=0.5.13.`

[2021-05-12 16:36] paulocagol opened #100 "flutter packages pub run build_runner build"
Hello, I'm trying to test the flutter_data however when trying to run build_runner it enters a loop. I tried to use several code samples that are available in the documentation, but even so, I was not successful.

[code]

[code]

I believe it may be something with the version of the flutter I have installed on the machine ... but what do I need to do to be able to test the flutter_data?

The probl

[2021-05-12 21:16] paulocagol commented on #100
Hello, I managed to solve my problem and it is working perfectly now, note some issues saying that the package is not yet ready for Flutter 2.0 so I downgraded it ...

[code]

Sorry for the inconvenience

[2021-05-12 21:16] #100 closed

[2021-05-27 12:27] paulocagol opened #101 "GetX"
Hello, is there any implementation/integration with GetX?

I would like some example if possible, as it exists today with Provider and Reverpod.

Thanks.

[2021-05-27 12:34] frank06 commented on #101
Hi! Sorry, I don't have

[2021-05-27 12:34] #101 closed

[2021-05-27 12:35] frank06 commented on #101
Here's a pure Dart small example: https://github.com/flutterdata/flutter_data/blob/master/example/lib/main.dart

You can use that to integrate it to other tools

[2021-05-27 13:00] paulocagol commented on #101
Okay, no problem, I will evaluate the example.

Thanks for the package!

[2021-05-27 21:18] frank06 commented on #94
Unfortunately could not use one box for `DataModel`s, but fixed `typeId` issue released in `0.7.1`

[2021-05-27 21:18] #94 closed

[2021-05-28 17:45] frank06 commented on #99
I don't think I can upgrade the analyzer until moving to null safety, which I'm working on.

You could try with overriding dependencies like

[code]

[2021-06-04 17:31] frank06 commented on #90
wip

[2021-06-10 20:17] frank06 commented on #7
The core is now mature enough to fully support Firestore as an external adapter.

If you need this feature, please contact me for my consulting rates.

[2021-06-10 20:17] #7 closed

[2021-06-17 20:12] ArneSaknussemm89 commented on #90
Looking forward to null safety, definitely excited to try using this on my next project.

[2021-06-17 20:32] frank06 commented on #90
@ArneSaknussemm89 almost there! https://github.com/flutterdata/flutter_data/tree/null-safety

Tomorrow or in the next few days.

Next up... DOCS!

[2021-06-17 22:35] frank06 commented on #90
https://github.com/flutterdata/flutter_data/commit/3ba9aacd6984495fdacf11cd107556df9f938b92

[2021-06-17 22:35] #90 closed

[2021-06-17 22:36] frank06 commented on #90
You can try out `0.8.0-rc1` if you feel brave

[2021-06-17 22:38] frank06 commented on #99
Working on `0.8.0` these days (`0.8.0-rc1` is out now), this issue will most likely be fixed. Let me know if not!

[2021-06-17 22:38] #99 closed

[2021-06-17 23:02] frank06 commented on #90
Just ported https://github.com/flutterdata/flutter_data_todos to it, with no major issues. Seems to work well.

[2021-06-18 11:24] glapworth commented on #90
Excellent work, thank you :)

[2021-06-18 13:12] rubgithub commented on #90
💪

[2021-06-22 12:59] rubgithub opened #102 "The method 'xxx' isn't defined for the type 'Repository'"
Hi there, any idea why my defined methods haven't been created?

[code]
I also tried to run build_runner, but the problem persists.

[2021-06-22 13:15] frank06 commented on #102
I apologize in advance for not properly documenting this yet... but these generated methods have been removed (a few months ago already) as they were quite unreliable for non-trivial cases.

I will add in the documentation how to restore them manually.

Curious, what does `getTodos` do? Why not use `findAll`?

[2021-06-22 14:53] rubgithub commented on #102
That was just an example, but I have a lot of `non-trivial` cases. 😥

[2021-06-22 14:57] frank06 commented on #102
Sorry man, it was a hassle to maintain and I don't want more hassle.

Are you typically using the `deserialize` API when you use `sendRequest`?

If you want to share I can help you optimize the usage of the library. `findAll`, `findOne`, `save` etc are quite flexible and have the advantage of keeping the objects in local storage and offline-ready.

[2021-06-22 14:57] #102 closed

[2021-06-22 15:02] frank06 commented on #102
@rubgithub in any case, it's pretty straightforward to migrate:

Before:
[code]

After:
[code]

Of course you can still abstract the `myRequest()` call through an `extension`

[2021-06-22 15:49] rubgithub commented on #102
Yes, I'm.

[code]

I'm using repositories with DI

[code]

[code]

I'll check it out.

[2021-06-22 16:02] frank06 commented on #102
Oh I see. Is this some kind of architecture Resocoder was talking about? I like to keep the boilerplate out.

[2021-06-22 16:09] rubgithub commented on #102
Yep, dartz, freezed, etc.

[2021-06-26 23:50] rubgithub opened #103 "Repository<xxx> is not registered inside GetIt."
Hello,

How flutter_data is dealing with DI?

[code]

[code]

`final _repo = getIt<IAuthRepository>();` //error here

[2021-06-28 13:39] frank06 commented on #103
Sorry, I am not very familiar with that library. You should wire things manually.

[2021-06-28 13:39] #103 closed

[2021-07-01 12:40] corusm opened #104 "Bug methodForSave (remote_adapter.dart:358)"
Hi there :smile:!

Flutter Version: 2.2.2
OS: Windows

# Problem

So I tried to get Flutter_Data to get working. When I was testing my Flutter App I got this output
[code]

The Problem here is the `%5C` why the url doesn't reach my server. I am not sure if this problem is windows related.

On this Code:
[code]

# Possible Solution
remote_adapter.dart:359
 ` Uri.parse('${baseUrl.asUri}/${urlForSave

[2021-07-01 13:27] frank06 commented on #104
Ah, I see.

I have no idea what's going on and it definitely seems to be a Flutter on Windows issue.

What happens if you manually override the `type`, could you let me know if the problem persists?

[code]

The proposed solution won't have effect as what you wrapped in `Uri.parse` is already an `Uri`.

[2021-07-06 21:35] ArneSaknussemm89 opened #105 "Tried to use GraphNotifier after `dispose` was called"
Having a strange error being thrown when I navigate between my screens. The error:
[code]

Here is where the provider is:
[code]

 And then to use the provider I'm using `hooks_riverpod` package and using `useProvider` inside a HookWidget.
[code]

But if I navigate away from this screen, and then navigate back, that error is thrown. Tried going down the rabbit hole, but all I could tell was someho

[2021-07-06 21:38] frank06 commented on #105
Thanks for the detailed report! Will have a look at it

[2021-07-07 01:25] ArneSaknussemm89 commented on #105
Oh and I am also using `auto_route: '^2.2.0'` so maybe it's an issue between them? I can provide a `pubspec.lock` if you think that would be helpful.

[2021-07-07 14:01] frank06 commented on #105
No worries, this is an internal issue which I was able to reproduce in a test – a great first step.

It has to do with a `StateNotifier` being disposed and then attempted to be used again. Strange as these are being used in tons of places in different apps. I guess we were lucky!

The fix is not totally obvious as there's a notifier rabbit hole happening and I don't want to remove a `dispose` that

[2021-07-07 18:38] frank06 commented on #104
Any updates @corusm ?

[2021-07-15 00:41] #104 closed

[2021-07-29 14:26] ArneSaknussemm89 commented on #105
Any updates on this?

[2021-08-01 11:09] frank06 commented on #105
Sorry – on holidays. Should get it fixed on Tuesday!

[2021-08-03 17:26] ArneSaknussemm89 commented on #105
No need to apologize; just wanted to follow up!

Thanks for making this package and being super responsive!

[2021-08-03 17:36] ArneSaknussemm89 opened #106 "How to override findAll()?"
So I'm trying to override a remote adapter and adjust how it's grabbing data from a response.

The response from the API is formatted as such:
[code]

So I tried adding this mixin:
[code]

I'm guessing there's a different way? The docs show a way to override an `onResponse` function but I don't see that anywhere so I'm assuming that's deprecated/removed?

[2021-08-04 13:29] frank06 commented on #106
Let me have a look tonight but first thing that comes to mind is calling `super.findAll()` in the override with a custom `onSuccess` argument such as:

[code]

[2021-08-04 14:42] ArneSaknussemm89 commented on #106
Unfortunately that still doesn't work as the parent `findAll` method still attempts to convert the data from the API call into a List<T>:
[code]

[2021-08-04 14:48] frank06 commented on #106
Sorry if I'm missing something – you do not want to return a `List<T>`?

 If your JSON response data does not adhere to the standard JSON of the adapter can do that by overriding `deserialize`. Could you share what those look like?

[2021-08-04 18:14] ArneSaknussemm89 commented on #106
How would I create an adapter for serializing/deserializing the JSON?

Right now it seems like the default deserializer expect the JSON from the API to look like:

[code]

but the response actually looks like:
[code]

So I just need to change the deserializer to try and deserialize the `data` key to get the list of models. If I need to create another adapter, what adapter should my mixin be on and

[2021-08-04 18:55] frank06 commented on #106
I would think something like:

[code]

You can then mix this into any model that has that JSON structure

[2021-08-04 19:06] ArneSaknussemm89 commented on #106
That worked like a charm! And now I think I'm starting to understand the adapter better, thanks for the quick replies and help!

[2021-08-04 19:06] #106 closed

[2021-08-04 19:17] frank06 commented on #106
Glad that it worked!

[2021-08-21 06:35] thphuc opened #107 "Does flutter_data select data source (remote or local) automatically ?"
I am trying to understand the package. It works, great job.

As the title, I would like to know if the package supports auto-select data source?
Say if we have internet connection, it uses remote adapter, otherwise it uses local adapter?

[2021-08-23 02:43] Zedjones commented on #6
Is this still the case? I'm having issue on Flutter Web with the local storage using `path_provider` and `path_provider` only working on iOS and Android

[2021-08-23 14:30] Zedjones opened #108 "Allow ability to provide field to use for deserializing `findAll`"
The server I'm connecting to returns a paginated response with the following schema:
[code]
For `findAll`, there should be a way to tell the deserializer to use the `content` field rather than having to overwrite the entire `deserialize` method. If there's a way to do this easily, I'm not sure. It seems like there _used to be_ a way to override the deserialization of a collection, but I think `des

[2021-08-23 14:54] ArneSaknussemm89 commented on #108
I actually had a similar problem and he provided a solution for me here: https://github.com/flutterdata/flutter_data/issues/106#issuecomment-892868959

That's the structure I was getting and he provided an example fix.

[2021-08-23 15:12] frank06 commented on #108
Thank you @ArneSaknussemm89

Correct, there is no shortcut at the moment.

[code]

[2021-08-23 15:12] #108 closed

[2021-08-23 15:22] frank06 commented on #107
Thank you!  Great question. If you use the watchers (`watchOne`, `watchAll`, etc) data **always** comes from local storage – and gets updated from remotes in the background – so it's the natural choice for offline scenarios. There's a built-in offline adapter that exposes functions for you to retry reaching the remote when the connection is lost.

If you use `findOne` or `findAll`, these go direct

[2021-08-23 15:22] #107 closed

[2021-08-23 17:15] frank06 opened #109 "ability to easily filter/map watchers"

[2021-08-23 18:17] ArneSaknussemm89 commented on #105
Just a quick bump to check in!

[2021-08-23 18:52] frank06 commented on #105
Yep looking at it now :)

[2021-08-23 20:00] frank06 commented on #6
You are right in that it does not work properly. Looking into it.

[2021-08-23 20:47] #6 closed

[2021-08-23 20:48] frank06 commented on #6
@Zedjones should work now in  dd5df97 . I need to fix a few other things before releasing `0.8.1`

[2021-08-23 21:04] Zedjones commented on #6
Awesome, thanks! Yeah, sorry, `path_provider` actually just works on everything except for web, I think. Thanks for taking care of that quickly, looking forward to the next release.

[2021-08-23 23:12] #105 closed

[2021-08-23 23:17] frank06 commented on #105
@ArneSaknussemm89  Tested and tried in another app and seems to work fine. If you'd like to try `0.8.1` and report back that would be great.

[2021-08-23 23:18] frank06 commented on #6
`0.8.1` published

[2021-08-24 00:35] Zedjones commented on #6
Thanks for the fast response and release, cheers!

[2021-08-24 14:09] ArneSaknussemm89 commented on #105
Works like a charm!

[2021-08-29 10:04] thphuc commented on #107
Thanks @frank06 it sounds great. Let me do more test and verify this.

[2021-08-29 10:57] thphuc opened #110 "How to handle watchAll/findAll with below special json structure"
Hello again,

Here is our json structure (the structure is from 3rd party, we can not change it):

[code]

I understand that we can override **_deserialize_** to parse the "people", but the problem is I can only use findOne (and pass empty id) to get other fileds, is this correct?.

1. With findOne and empty id, how will the data be saved to local storage?
2. How can we separate the data from "nex

[2021-08-30 15:01] frank06 commented on #110
@thphuc `deserialize` will handle any incoming data. I do not quite understand why you can only use `findOne`? I also don't think you can pass an empty id. Why can't you use `findAll`?

Have a look at this example: https://github.com/flutterdata/flutter_data/issues/108#issuecomment-903863219

(I am working on the docs at the moment where I hope to explain all this better)

Regarding local storage,

[2021-08-30 16:36] ArneSaknussemm89 opened #111 "Question: Riverpod 1.0 support?"
Are there plans for updating to Riverpod 1.0? I took a stab at it, but sadly was not a simple swap over.

[2021-08-30 16:37] frank06 commented on #111
I was not even aware of Riverpod 1.0... will have a look!

[2021-08-30 16:53] frank06 commented on #110
Oh I see. I would not design it that way. Models should be models and not contain metadata like `next`. In my experience anytime one starts doing unusual things like that, down the line more issues will appear.

If you use Riverpod you could have a `StateProvider` where to temporarily store the `next` URL and access/update that from `deserialize`.

Also in general, I'm not sure about using `List<P

[2021-08-30 17:36] frank06 commented on #111
Can't find any documentation for 1.0, do you have a link?

[2021-08-30 23:00] frank06 commented on #110
By the way, you can extend and create your own methods if you think `findAll` and such are not a good fit.

This is just an example coming from a project:

[code]

So then you'd call something like `(repository.internalAdapter as AppointmentAdapter).fetchNext()`.

[2021-08-31 00:28] ArneSaknussemm89 commented on #111
He recently updated the docs here: https://riverpod.dev/docs/getting_started

Changelog of the most recent changes:
https://pub.dev/packages/riverpod/versions/1.0.0-dev.7/changelog

Looks closer to being stable, seems the biggest change is no more ScopedProvider or RootProvider and ProviderReference deprecated in favor of ProviderRefBase.

[2021-08-31 00:58] thphuc commented on #110
Hi @frank06 Thank you again for your suggestion.

I saw HasMany but I completely forgot it when designing my model. 👍
I will try to follow your suggestion and get back to you.

Things started to be more interesting now with the library 😄

[2021-08-31 01:10] frank06 commented on #110
Thanks! I'll make sure I add these answers to the docs. Let me know if you have more questions

[2021-08-31 01:10] #110 closed

[2021-09-15 13:01] jamesdixon opened #112 "add the ability to deserialize in an isolate"
@frank06 hope all is well!

In the Spectora project, there was some code that was written to deserialize templates into Flutter Data models. This works great but we're noticing that some users have large template caches (15MB+) that is causing jank / interface freezing.

Processing these large payloads feels like a tailor-made use case for processing in an isolate, but because of the limitations o

[2021-09-16 16:41] frank06 commented on #112
Hey @jamesdixon!  It does make sense but could you provide more detail about the limitations you've encountered when trying to process the deserialization in an isolate?

[2021-09-23 14:18] jamesdixon commented on #112
@frank06 sure thing!

So, first off, I was able to greatly increase the performance of this process by about 50x by not transforming the payload into JSON:API and instead deserializing it in its native JSON format. That said, this is still a good candidate for isolates as older devices still don't perform well.

That said, the issue I ran into with deserializing this data in an isolate was mainly

[2021-09-23 19:51] ArneSaknussemm89 opened #113 "Unable to set null BelongsTo"
What would be the ideal way to set a BelongsTo value to null? If I try any of these ways it doesn't seem like the change persists and the value stays what it was before.

Saving code:
[code]

My first thought to try:
[code]

I've also tried:
[code]

But whether I set the value to `null` or `BelongsTo<Branch>(null)` after the save the returned object still has the old BelongsTo value. If I change i

[2021-09-29 13:44] frank06 commented on #112
Thank you for your feedback @jamesdixon !

I would think 15+ MB payloads are very uncommon so I won't optimize the adapter for the time being.

I'll leave this open as I'd like to explore the possiblity of taking `deserialize` to isolate land.

[2021-10-01 19:36] ArneSaknussemm89 commented on #113
Just wanted to bump this!

[2021-10-02 00:50] frank06 commented on #113
@ArneSaknussemm89 sorry for taking so long!

Just checked `belongs_to_test.dart` and the way we do this is by mutating the `value` of the relationship.

[code]

Does that work?

I will keep this open to have a look at why copying an empty `BelongsTo` is not working in your case.

[2021-10-04 20:04] ArneSaknussemm89 commented on #113
@frank06 That works!

I'll close this for now, but if you come across why the copyWith method isn't quite working I'd be very interested to know how to do it in an immutable way.

[2021-10-05 14:51] GabrielAraujo opened #114 "Use .throttle on pendingOfflineTypesProvider ValueStateNotifier"
Hello, when I try to use the `pendingOfflineTypesProvider` with the `.throttle` method I get the following error:
`The method 'throttle' isn't defined for the type 'ValueStateNotifier'.
Try correcting the name to the name of an existing method, or defining a method named 'throttle'.`

Is there a way to use the `.throttle` method on a ValueStateNotifier?

Flutter version 2.5.1
flutter_data: ^0.8.

[2021-10-05 14:54] frank06 commented on #114
Try using `ref.read(pendingOfflineTypesProvider).throttle`, does that work?

[2021-10-05 14:56] GabrielAraujo commented on #114
Nope, I'm using riverpod 0.14

`The method 'throttle' isn't defined for the type 'Set'.
Try correcting the name to the name of an existing method, or defining a method named 'throttle'.`

[2021-10-05 15:39] frank06 commented on #114
Alright. I'll have to take a look at that later with the versions you're running.

[2021-10-08 10:44] danielnordh opened #115 "Breaking changes in 0.8"
When updating from 0.7.2 to 0.8 (0.8.1 or 0.8.0) builds fail with errors.

When deserializing data in a RemoteAdapter this line:
`final transactions = List<Map<String, dynamic>>.from(data['transfers']);`
gives the following error not present in 0.7.2:
`Error: The operator '[]' isn't defined for the class 'Object'.`

In the same mixin, there is another line:
`return super.deserialize(transactions,

[2021-10-12 18:17] GabrielAraujo opened #116 "watchAll force unwrapping the nullable remote attribute causing crashes on provider creation"
Hey,

I'm facing an `Null check operator used on a null value` while using the `.watchAll` method from the [Repository](https://github.com/flutterdata/flutter_data/blob/778decbb00e63d6e651fe8bc90cd768762690dd8/lib/src/repository/repository.dart) class.

It seems that it is trying to force unwrap the `remote` parameter even as it being referenced as nullable.

[code]

  When I set a value to the `r

[2021-10-13 18:36] frank06 commented on #115
I just checked the sample app and the resolved `analyzer` version is `1.7.1`.

Want me to pull from the null-safety migration branch to check out the errors?

[2021-10-13 22:16] frank06 commented on #114
@GabrielAraujo do you think I can get access to the branch you're working on to have a closer look?

[2021-10-13 22:19] GabrielAraujo commented on #114
At the spectora repo? I haven't created a branch on flutter_data yet

[2021-10-15 17:59] #116 closed, assigned to frank06

[2021-10-15 19:21] ArneSaknussemm89 commented on #111
Most recent changelog for Riverpod 1.0.0:
https://pub.dev/packages/riverpod/versions/1.0.0-dev.10/changelog

[2021-10-15 21:56] frank06 commented on #111
Thanks! Will integrate when it reaches 1.0.0

[2021-10-20 15:33] #115 closed, assigned to nobody

[2021-11-02 21:02] GabrielAraujo opened #117 "Notifier does not update on watchAll after requesting the same repository more than once"
Hey..

Noticed this when I was adjusting some tests.

When I call the `.watchAll` more than once for the same provider the notifier does not update with the models and the `isLoading` to false..

At the line 80 of `remote_adapter_watch.dart` (`events.singleWhereOrNull`), if the events contains more than one entry with the same `type` and `keys.first` the function will return null making the `doneL

[2021-11-03 17:17] frank06 commented on #117
@GabrielAraujo thanks! Fixed in 74c654cf9ae5a0bfe895ef218157a84e581e550f

[2021-11-03 17:17] #117 closed

[2021-11-03 20:36] GabrielAraujo commented on #117
@frank06 thanks! Any idea on when a new version will be sent to pub.dev?

[2021-11-03 21:08] frank06 commented on #117
Not sure, point to the git commit for now.  If in the next few days all looks stable I'll release a new version.

[2021-11-16 01:56] jamesdixon commented on #111
@frank06 looks like it finally hit 1.0 😄

[2021-11-21 09:12] thphuc opened #118 "Question: Do we save the data locally with findOne?"
I'm trying to use findOne( ), I can see we have a **remote** parameter. But it does not work when I set it to **false**.

Does findOne( ) really save the data to local storage?

[2021-11-22 14:39] frank06 commented on #118
@thphuc Data is always saved to local storage.  When you set it to `false` you still see a network request? Which version are you on?

[2021-11-26 20:25] frank06 commented on #118
@thphuc Do you still have this problem or I can close the issue?

[2021-11-27 08:42] thphuc commented on #118
Hi @frank06 I am on the latest version (v0.8.2).

Here is the steps:
1. Turn on the wifi and use findOne() to request data from remote
2. Turn off the wifi, use findOne() with remote = false -> There is no data from local.

[2021-11-28 15:18] #111 closed

[2021-11-28 19:56] frank06 commented on #118
@thphuc I'm not sure what you are doing but it's working for me.

Just came up with a quick sample app. I have this column:

[code]

Works fine (wait for the whole gif, for some reason it's slow)

![f](https://user-images.githubusercontent.com/66403/143783603-962853f8-b871-4b77-b311-c1c293222f64.gif)

In addition, if instead of retrieving data from local storage I wait for the response (when offli

[2021-11-28 19:56] #118 closed

[2021-11-29 02:49] thphuc commented on #118
Hi @frank06 Thanks again for your kind answer. I guess I need to learn how to use localAdapter

Now, I only use a remote adapter.

By the way, in your example above, how did you create a localAdapter? And how can we "link" this localAdapter with a model?

[2021-11-29 13:13] frank06 commented on #118
@thphuc You don't need to touch the local adapter API.

The local adapter is used internally by `findOne` – see the test.

In Flutter Data, all models are always coming from local storage. If you happen to make a remote request, the response will be deserialized and stored and then returned to the client.

[2021-11-30 00:40] thphuc commented on #118
@frank06 in your app example, under onPressed( ) method of second TextButton, I can see that:

1. You call `.findOne(1, remote: false);` before using localAdapter, is that call required before using local adapter?
2. Because in the demo, you're using localAdapter to check the valid data, I still think I need to touch local adapter API?

Thanks again for your time.

[2021-11-30 03:37] frank06 commented on #118
No and no. Please use the API like I did on the test snippet.

[2021-11-30 20:21] #113 closed

[2021-11-30 20:23] frank06 commented on #113
@ArneSaknussemm89 pushed a new API so you can do

[code]

We can't use `null` as the default initializer `BelongsTo()` would be equivalent to `BelongsTo(null)`

[2021-11-30 20:50] jamesdixon opened #119 "`LateInitializationError` when calling `repositoryInitializerProvider()`"
Hey Frank! Hope all is well man.

Running into an issue as we're migrating to null safety.

During the logout process, we call:

[code]

This triggers the `initializerProvider`, which if you recall, initializes a ton of things. One of those things is this:

[code]

However, when this is triggered, we get the following error:

[code]

Any workaround for this?

Thanks man!

[2021-11-30 20:53] frank06 commented on #119
Hey James!

It's fixed already in https://github.com/flutterdata/flutter_data/commit/15e93536de4ae467e0fc23c28925100284ce14a4#diff-4268e47c73207c27811d615913d30f00c650e7473285bf9099011dd7b27a71d0

I want to finish a few other things before releasing a new version.

[2021-11-30 20:53] #119 closed

[2021-11-30 21:52] jamesdixon commented on #119
@frank06 thanks! Will we need to upgrade our app to Riverpod 1.0 to use this?

[2021-11-30 21:55] frank06 commented on #119
Yes. Or you could patch the code and make `adapters` and other mutable instead of `late final`s

[2021-11-30 22:00] frank06 commented on #93
Looks far from stable right now. Might revisit if there's enough incentive.

[2021-11-30 22:01] #91 closed

[2021-11-30 22:01] frank06 commented on #91
No time for this right now

[2021-11-30 22:04] jamesdixon commented on #119
Got it! Thx man!

[2021-11-30 22:35] frank06 commented on #97
Will reopen if there's enough demand for this

[2021-11-30 22:35] #97 closed

[2021-11-30 22:45] jamesdixon commented on #119
@frank06 ping me when you've released a new version so we can make this upgrade. Appreciate it!

[2021-12-01 03:15] #109 closed

[2021-12-01 15:47] frank06 commented on #112
Tried this with https://pub.dev/packages/async_task without success. It requires a lot of work and it's not a priority, closing.

[2021-12-01 15:47] #112 closed

[2021-12-01 15:53] jamesdixon commented on #112
Makes sense!

On Wed, Dec 1, 2021 at 10:48 AM frank06 ***@***.***> wrote:

[2021-12-07 10:33] thphuc opened #121 "findOne for API without id"
Hello @frank06 again,

If I understand correctly, for findOne, we need to pass an id.
But many APIs are designed without using id (backend reads the id from access token), for example: /api/me

1. What will happen if we don't pass the id?
2. Will the library store data locally successfully in this case?

[2021-12-07 13:35] frank06 commented on #121
Local storage needs a type. Which model/type is the data returned by `/api/me`, can you show an example?

[2021-12-08 08:58] thphuc commented on #121
Hi @frank06

That could be a json that contains the user info:

[code]

Also, I have questions with findAll:

1. If we call findAll multiple times, will new data override old data on local database?
2. Does the library handle pagination? Ex: page 1 we load 100 items, page 2 we load another 100 items -> local database will have 200 records? And next time user open the app, we reload 100 items (page

[2021-12-08 16:07] frank06 commented on #121
Something like the following, in an adapter on the `User` model:

[code]

Regarding `findAll`:

New data will override old data on a type/id basis.

If a first call to `findAll` returns data for ids `1`, `2`, `3` and a second call updated data for `2`, `3`, `4` you will end up in your local storage with: `1`, `2` (updated), `3` (updated) and `4`.

If you want your local storage to mirror the lates

[2021-12-08 16:07] #121 closed

[2021-12-09 01:20] thphuc commented on #121
Hi @frank06 that sounds great. Thank you!

[2021-12-13 12:45] frank06 commented on #121
@thphuc In case you're interested the new documentation site is live: https://flutterdata.dev/

[2021-12-13 12:46] frank06 commented on #113
@ArneSaknussemm89 In case you're interested FD 1.0 has been released (with support for Riverpod 1.0 and more) and the new documentation site is live: https://flutterdata.dev/

[2021-12-13 15:51] thphuc commented on #121
Thanks @frank06 for sharing. Awesome!

[2021-12-13 15:53] nhatvu95 opened #122 "How to pass id with findOne when offline?"
I have a question with findOne url which does not contain “id”, I already can custom the url to get remote data. However, when offline, if I want to call findOne again, I will need to provide an id (to find that object in local storage). Is that correct?
(I tried to put a fixed id when offline but can not retrieve the data from local storage)

[2021-12-13 16:33] frank06 commented on #122
Correct. You can hit a remote endpoint such as `/me` and that payload should return an ID. You should use that ID to retrieve it from local storage. All local storage resources are only addressable by a type and an ID.

[2021-12-13 16:33] #122 closed

[2021-12-14 03:29] nhatvu95 commented on #122
I tried to add ID when loading local data, but No data returned from local.
![Screen Shot 2021-12-14 at 10 28 30](https://user-images.githubusercontent.com/40544173/145928029-6a643b51-c383-4ce0-af86-dbbe2aec5804.png)

[2021-12-14 11:30] frank06 commented on #122
I can't do much with the information you provide. What operations did you do before this? What was the payload?

A useful thing you could share with me is `graph.toMap()` in those lines you're debugging.

[2021-12-14 15:53] nhatvu95 commented on #122
Hi @frank06 ,

In my graph.toMap(), I can see the object key and id there (screenshot below), does that mean the object (from findOne) is saved to local storage successfully?

![Screen Shot 2021-12-14 at 22 45 59](https://user-images.githubusercontent.com/40544173/146031236-b1fd9be7-272a-4d15-9ac1-a3268b9c7f46.png)

---
However, when we use localAdapter.findOne to get the model, it returns null.
!

[2021-12-14 17:35] frank06 commented on #122
This is strange because we have a test covering this exact case.

Could you please send me the exact method you're invoking prior to this (`findOne` with `remote=true`, is it overridden? How?) and the exact server response payload?

Also when debugging, what is the output of:

[code]

[2021-12-15 01:34] nhatvu95 commented on #122
Hi @frank06

Model :
![Screen Shot 2021-12-15 at 08 33 07](https://user-images.githubusercontent.com/40544173/146106460-64c3fa86-02b3-492f-a91b-e43f884ec3b6.png)

Adapter :
![Screen Shot 2021-12-15 at 08 33 40](https://user-images.githubusercontent.com/40544173/146106507-da0ae6c2-2c44-431e-bb96-f462df4a16ff.png)

findOne :
![Screen Shot 2021-12-15 at 08 34 11](https://user-images.githubusercontent

[2021-12-15 16:52] nhatvu95 commented on #122
Hi @frank06  ,
 Please help me when you have free time. I'm still waiting for you, thanks!

[2021-12-15 17:38] frank06 commented on #122
@nhatvu95 I need you to understand that if you don't send me the exact response from your API I cannot help you.

Also, what is `ProfileMes`? Is that a type? Show me the definition for that model. What does it stand for? It's confusing to follow.

If your model is `PersonDetail` then I would like to see `(localAdapter as HiveLocalAdapter<PersonDetail>).box!.keys` and please the full response paylo

[2021-12-15 18:03] nhatvu95 commented on #122
@frank06  my model is PersonDetail

Api response:
![Screen Shot 2021-12-16 at 00 58 12](https://user-images.githubusercontent.com/40544173/146240575-965abdf6-ec53-4d58-ad72-45a92ac8ace6.png)

`(localAdapter as HiveLocalAdapter<PersonDetail>).box!.keys`
![Screen Shot 2021-12-16 at 01 01 21](https://user-images.githubusercontent.com/40544173/146240674-9e4c0505-5f89-48b6-965d-20cc32cff2a3.png)

[2021-12-15 18:31] frank06 commented on #122
Interesting. I'm not sure what it is, as we have tests that should reproduce this:

https://github.com/flutterdata/flutter_data/blob/master/test/repository/repository_test.dart#L81-L112

My suggestions would be: if you are debugging try stepping into `super.deserialize` and see what happens in these lines:

https://github.com/flutterdata/flutter_data/blob/master/lib/src/repository/remote_adapter_s

[2021-12-16 21:24] frank06 commented on #122
Were you able to solve the issue?

[2021-12-22 15:06] nhatvu95 commented on #122
Hi @frank06 ,
Sorry for the delay, I have solved my issue.

[2021-12-23 16:48] chimon2000 commented on #8
@frank06 is there any desire to still add GraphQL support?

[2021-12-23 19:06] GabrielAraujo opened #125 "Failing tests due to disposed Provider"
Hey,

After upgrading to the version 1.0.1 the tests started failing with the following exception:
[code]

It happens at the end of the test execution when the ref is being disposed and it tries to dispose all `repositoryProviders` referenced at the `_repositoryInitializerProviderFamily` provider generated by flutter data located on the file `main.data.dart`

Do you have a hint of what it might be

[2021-12-29 13:15] frank06 commented on #125
@GabrielAraujo can you share a stacktrace?

[2021-12-29 13:16] frank06 commented on #122
@nhatvu95 would you mind sharing how you fixed it?

[2021-12-29 21:42] GabrielAraujo commented on #125
[code]

[2022-01-06 18:39] jamesdixon commented on #125
@frank06 happy new year, man! hope all is well! any thoughts on this one?

[2022-01-09 07:53] huang12zheng opened #126 "package analyzer is too old, please update."
* [newest version](https://pub.flutter-io.cn/packages/analyzer) is 3.0.0
* but version in this package is just 2.0.0

* question:
Is it acceptable to generate an ActionBot to automatically generate PR?

[2022-01-09 07:57] huang12zheng commented on #126
Why restrict  json_annotation?

[2022-01-10 12:54] huang12zheng opened #127 "question: is it ok that overloading operator == and hashCode on classes not marked `@immutable`"
* refor to
https://dart-lang.github.io/linter/lints/avoid_equals_and_hash_code_on_mutable_classes.html

[code]

[2022-01-11 09:46] thphuc opened #128 "Question: When POST request will be synced to remote"
Hello again.

We are testing **save** method. I turned off the connection when calling this **save** method.
Then I turned it on, wait for a while. However, I can not see the data synced to remote.

Can you let me know when the sync will be triggered? @frank06

[2022-01-12 13:48] huang12zheng opened #130 "get error on example"
[code]

[2022-01-12 15:32] huang12zheng opened #131 "doc: make default value more succint on consrtuct"
[default](https://flutterdata.dev/docs/relationships/#defaults)
[code]

Would it better to turn out to something as follow
[code]

[2022-01-12 18:36] frank06 commented on #125
Happy new year @jamesdixon !  I am not sure what it is. The testing utilities are not high priority and I'd need an app using them to debug.

[2022-01-14 02:53] frank06 commented on #128
@thphuc you need to manually call `retry`.

Have a look at this to get you in the right direction: https://flutterdata.dev/articles/how-to-retry-offline-sync-data/

[2022-01-14 02:53] #128 closed

[2022-01-14 02:59] frank06 commented on #126
Have you tried upgrading these dependencies and running tests? Do they all pass?

What are good reasons to place the builder in another package?

[2022-01-14 03:00] frank06 commented on #127
How does this affect you?

[2022-01-14 03:02] frank06 commented on #131
Except it doesn't work with the current version. I am updating the builder to make it work as you suggest.

[2022-01-15 11:12] #131 closed

[2022-01-15 11:14] huang12zheng commented on #127
No, but I don't know what the impact will be.
close it for no affection

[2022-01-15 11:14] #127 closed

[2022-01-15 11:37] huang12zheng commented on #126
* one hand
There was a problem before, so I split it up.
But more specific details cannot be provided because of oblivion.
* another hand,But it is currently upgradable

1. flutter_data  is no dependency required For some packages, which is dependency of flutter_data_generator.
2. furthermore, The size of release may be beneficial

[2022-01-15 11:42] huang12zheng commented on #131
I think it work, Maybe I didn't see the problem...
-_-||

[2022-01-18 09:47] thphuc opened #132 "Question: How to combine and save data from 2 separate (but related) APIs"
Hello @frank06

I have 2 APIs:
1. The API to get a list of tags: **/tags**. This API returns a list of tags (each tag has an id and a name). We can use the tag id to call the below API (pass the id) to get a list of people.
2. The API to get list of people: **/tags/${tagId}/people**. This API returns a list of people under the tag.

I already can save the tags list for offline.
1. Is it possible t

[2022-01-18 15:17] #132 closed

[2022-01-18 15:18] #126 closed

[2022-01-19 00:19] thphuc commented on #132
Hi @frank06

I already follow exactly that approach to override urlForFindAll and can get the data.
However, I don't know how to design the data model to make the offline work for people (the tag is working well, but people).
Can you share an example of how to design the models? (Tag and People)

[2022-01-19 01:16] ryanfieldedge commented on #132
To hopefully add some further clarity to what @thphuc said:

We can save the array of tags returned by the first API call, eg. tag_1, tag_2, tag_3 – no problems there.

But what we are having trouble with is: saving the array of people returned from the second API call  – the one to fetch the people associated with a specific tag.

A user should be able to tap a tag and then view the associated pe

[2022-01-19 01:24] frank06 commented on #132
If by saving you mean saving locally that is done upon deserialization. If the API call is successful your models are already in local storage. I wish we had an easy way to explore the local data.

Using relationships does not work?

[code]

But I don't know how you have these wired up. Could you share your models and the code you are using to fetch?

[2022-01-19 01:41] thphuc commented on #132
Hi @frank06 Thanks for your prompt reply

Here are my models

[code]

[code]

[code]

[code]

To fetch the people under a tag (work well when online):
[code]

So far, I haven't figured out how to link tagPeople.people to a tag (to save it locally for offline usage later).
Do you have any suggestions?

Thanks a lot!

[2022-01-19 02:00] frank06 commented on #132
Yes, please learn about relationships and use them: https://flutterdata.dev/docs/relationships/

[2022-01-19 09:15] thphuc commented on #132
Hi @frank06

From the above document:

- For 1: I already added HasMany<TagPeople> to Tag and BelongsTo<Tag> to TagPeople -> Is this a right setup for point 1?

- For 2: our API does not return any collection of people or people IDs at all. We can only get list of people by calling another separate API using tag id. Do you have any idea for this situation?

cc @ryanfieldedge

[2022-01-19 15:01] frank06 commented on #132
It looks like a many-to-many relationship, so a `HasMany` on both sides?

`TagPeople` appears to be a proxy model. Why? Models should be modelling real-world data. Use a proper `Person` model and leave the plumbing to adapters.

If you retrieve a bunch of `Person` who don't have their `Tag`s, you could override `deserialize` for `Person` and append it to the JSON (I suppose: `tags: ['x']`) before

[2022-01-19 15:20] #125 closed

[2022-01-20 08:40] thphuc commented on #132
Hi @frank06

I found a working approach (I'm not sure if it's the best though).
In Tag class, I added HasMany:

[code]

Then after getting people (of a tag), I add this list of people to the tag and save it manually. When offline, I check the network status, if offline, I just return tag.people.toList().

[2022-01-24 20:56] jamesdixon opened #133 "reinitialization error"
@frank06!

Question for ya: in the Spectora app, there is the following line of code in the `initializerProvider` that is called when the app starts:

[code]

This lines up with what you mention in the Flutter Data documentation, but when I do a hot reload, I see the following exception:

![image](https://user-images.githubusercontent.com/110114/150863120-062e372e-9552-465a-ba74-bcd3a21896b4.png)

[2022-01-25 01:32] frank06 commented on #133
Hey @jamesdixon ! To be honest I have no idea. Most likely Riverpod changed quite a bit.

I need to check but use whatever works!

[2022-01-25 01:32] #133 closed

[2022-01-29 10:19] DRN88 opened #135 "Setting baseUrl from sharedPreferences or from other not hardcoded place"
Hello!

First of all, I like flutterdata very much. Thank you for it!

I was wondering if I can set basic api required configs for my models/repos in sharedPreferences or from somewhere else? ( basic auth username, password and api baseUrl for starters )
I would like to give the app user this functionality from a Settings page.

Thank you for your reply in advance.

[2022-02-07 03:39] frank06 commented on #135
@DRN88 absolutely. For example in one of my apps we're doing

[code]

[2022-02-07 03:39] #135 closed

[2022-02-17 23:42] stephane-segning opened #140 "Question: How to model Many-to-One with ID from API"
Suppose I have these responses from an API:
- A Chat
[code]

- And a chat item (a message)
[code]

I want to model it using a `HasMany` and `BelongsTo` but I don't have any idea how to do it. How should I map chat `chatId` to `Chat` using the framework ?

[2022-02-21 01:25] frank06 commented on #140
By default the JSON serializer will look up relationships with the field name + `_id`, so in your case `chat_id`. You can change it to `chatId` by overriding `identifierSuffix` on your adapter. Let me know if this worked for you!

[2022-02-22 08:44] stephane-segning commented on #140
Hello, Thanks for the quick answer. I'm going to test it today. I'll close if all's perfect 👌🏿

[2022-02-23 16:38] #140 closed

[2022-02-24 21:18] GabrielAraujo opened #141 "The default remote attribute is being ignored for local only repositories"
Hey!

I'm using the fd v1.1.1 and for the repositories that only have a local data when we try fetching some data it is ignoring the default `remote` attribute set in the model annotation. As a workaround we are manually setting the `remote: false` on every request made that relates to a local only repository.

[2022-02-24 21:19] GabrielAraujo commented on #141
ex: `repo.findAll(remote: false)`

[2022-02-25 01:11] stephane-segning opened #142 "Question: How to automatically load `BelongsTo` relation?"
Right now I'm having an issue I didn't noticed before, cause my objects where already stored locally. I've fetched data from the remote and I do have such models:
- A Chat
[code]

- And a chat item (a message)
[code]

Using dart, the code seems like following:
- First the
[code]

- And now the reference:
[code]

When I get a `Chat` before getting the `ChatItem`, all's right. But some special cases

[2022-02-25 11:55] stephane-segning opened #143 "Multiple `watchOne` does not run"
I have a list of `chat-item` and I for each item in the list, I use the `watchOne` to get the corresponding `chat`. I wasn't sure at first, but now I do: Only one `watchOne` is called every time the app runs.

Am I doing things right ? Or am I missing something ?

[2022-02-26 00:19] stephane-segning commented on #143
This is what I've tried so far:
[code]

which is resolving the object I'm looking for, but never returning a `model`'s `state` with the new value. So I'm having only the `data == null` part validated.

So if I use this Widget to render a list of files, I get only the first fetched and observed. All others are `FilePlaceholder`. After some researches, it seems to be related to flutter hooks, and no

[2022-02-26 00:28] frank06 commented on #143
Could you share some code of how you are using watchOne?

On Fri, Feb 25, 2022 at 08:56, Stephane SEGNING LAMBOU wrote:

[2022-02-26 00:36] frank06 commented on #143
Oh I see. Let me have a look at this on Monday

On Fri, Feb 25, 2022 at 21:19, Stephane SEGNING LAMBOU wrote:

[2022-02-26 00:39] frank06 commented on #142
To prevent getting a null you should set an empty BelongsTo beforehand or make it non-nullable.

Have a look at Defaults here: https://flutterdata.dev/docs/relationships/

On Thu, Feb 24, 2022 at 22:11, Stephane SEGNING LAMBOU wrote:

[2022-02-26 01:14] stephane-segning commented on #142
I've read the page. Maybe my question wasn't clear enough. Actually the `BelongsTo` is a non-nullable field and I get the `id` correctly. But, not the **whole object**. Only the _id_. When doing `chatItem.chat.id`, I get the correct id. But `chatItem.value` is `null`.

[2022-02-28 18:59] frank06 commented on #142
Oh I see. No, there is no way to automatically load objects, you need to do it explicitly.

[code]

[2022-02-28 18:59] #142 closed

[2022-02-28 19:08] frank06 commented on #143
Would you be able to set a conditional breakpoint at `flutter_data/src/repository/remote_adapter_watch.dart 245:46` and share the stacktrace when `_notifier.data.model` is `null`?

[2022-03-01 00:55] stephane-segning commented on #142
Ok, I get it. Just for the info, the method `find` does not exist on `BelongsTo`, reason why I've been using the mechanism described here https://github.com/flutterdata/flutter_data/issues/143#issuecomment-1051391243.

Plus there's also a `watch` method which returns a `DelayedStateNotifier<E?>` aka `StateNotifier<T>`.

[2022-03-01 21:17] oarshad opened #144 "`watchAll(remote: false)` builds the widget twice."
I noticed that when you doing the following, it builds the widget twice:
[code]

It works fine with `ref.tasks.watchAll(remote: true);`

[2022-03-02 01:59] stephane-segning commented on #143
I'll come back to you tomorrow with more stacktrace 😁

[2022-03-02 03:04] thphuc commented on #65
@rubgithub did you solve this issue?

I am getting the same issue with "ignore: true" field(s).

@frank06 do you have any suggestion?

[2022-03-02 22:30] frank06 commented on #65
@thphuc Could you please expand on the issue you are having and provide some code?

[2022-03-02 22:31] frank06 commented on #144
Yes, that might happen. Is this a problem?

[2022-03-02 22:33] frank06 commented on #142
Then I meant `await chatItem.chat.value.find();` and make sure you import FD on that file

[2022-03-03 02:09] thphuc commented on #65
Hi @frank06

My issue was if I use "ignore: true" for any fields in my model (DataModel), the framework does not save those fields to local storage.

However, I did the debug into the framework yesterday and found the solution.
Before saving the model, the framework calls toJson( ) method (under model). So what I need to do is add all ignore fields to the json.

Thanks for your quick response @fra

[2022-03-03 08:01] stephane-segning commented on #142
Thanks for the comprehension. Now using the `repository.findOne(chatItem.chat.id)` mechanism, I get the error described in the second issue (#143).

[2022-03-03 19:17] frank06 commented on #144
Your questions seem more related to Riverpod. You should use `watchAll`, unless you need the notifier when composing other providers.

[2022-03-03 19:17] #144 closed

[2022-03-07 18:27] frank06 commented on #143
Please do :)

[2022-03-11 23:19] #141 closed

[2022-03-13 12:25] alguintu opened #147 "Override the methods used by Adapters (findOne, findAll, etc.)"
Is there a way to override the methods in adapters to completely control how the data is fetched? I'm using a postgREST api backend with a postgrest client, and I can't figure out a way to make it compatible with the current adapters, short of handling these methods myself. Would this be possible?

[2022-03-14 14:10] frank06 commented on #147
I'm not familiar with postgrest, but all methods are overridable including `sendRequest`. Have you tried it?

[2022-03-15 18:49] alguintu commented on #147
I have dived into the source code more in the past days and figured it out. It's all working nicely now. Thank you!

[2022-03-15 18:49] #147 closed

[2022-03-21 13:15] thphuc opened #148 "HasMany does not work when offline"
Hi @frank06

I have some models designed like below:

[code]

[code]

It works well when online but when offline, all the questions are empty.

I printed the SiteDetail list:

[code]

[code]

Is Anything wrong with the models I designed?

[2022-03-21 15:34] frank06 commented on #148
Have you upgraded to FD 1.2.1?

If not, since your model has multiple words, it's likely it has to do with this bug: https://github.com/flutterdata/flutter_data/commit/dba64d8e6051f40e19c08fc5ac921da683ccfeef

[2022-03-22 02:30] thphuc commented on #148
Hi @frank06

I'm still using the old version (0.8.2). I will try the latest version. Thanks.

1. By the way, if multiple words is the problem, can I rename my model to a single word to fix it?

2. Can I just use List<Question> under my SiteDetail? (Instead of HasMany<Question>, because the question list are under SiteDetail response - sometimes it misses questions)

[2022-03-22 06:41] Skycoder42 opened #149 "URL-Resolution is broken on Windows"
I am currently playing around with the library and found a bug. Urls are not constructed correctly on windows. On other platforms, a URL might look like this:
[code]
However, on windows, we get this:
[code]

As you might have already guessed, `%5C` is the `\` character. I took a look at your code and found the problem. In `UriUtilsX.operator/` (https://github.com/flutterdata/flutter_data/blob/mast

[2022-03-22 13:22] #149 closed

[2022-03-22 13:24] frank06 commented on #149
Thanks @Skycoder42 . I cannot test on Windows but tests pass on Mac/Linux.

[2022-03-22 13:29] frank06 commented on #148
For relationships to work you must use `HasMany`. On 1.2.1, did you clear the cache and re-ran codegen? Also, try passing `clear: true` (or uninstall the app from the simulator). Do you get the same result?

[2022-03-23 02:41] thphuc commented on #148
Let me try:
- clear cache + re-run codegen
- passing clear: true

I will update you later today. Thanks again @frank06

[2022-03-24 19:32] frank06 commented on #148
Flutter Data is working in similar scenarios on other applications. I am not sure what it's happening, were you able to debug the issue and provide further information?

Probably unrelated: What are you trying to accomplish by using `@DataRepository([RemoteAdapter])`? Looks very unusual.
 Why is one model using a `BaseAdapter` and the other one not?

[2022-03-24 19:45] frank06 commented on #143
Please reopen when you are able to reproduce and share

[2022-03-24 19:45] #143 closed

[2022-03-25 07:57] oarshad commented on #148
I am having the same issue where `findAll(remote: false)` doesn't bring the `HasMany` data. It worked while using `watchAllNotifier(remote: false)`. However, I see in the new versions of flutter_data `watchAllNotifier` isn't present anymore. Is there a reason to remove `watchAllNotifier` ?

[2022-03-25 15:24] frank06 commented on #148
@oarshad you can still access the notifier by `ref.read(modelsProvider().notifier)`.

What do you mean by `findAll` not bringing `HasMany` data? The models returned by `findAll` have broken relationships? Please clarify and provide some examples so I can look into it.

[2022-03-25 19:42] oarshad commented on #148
@frank06 I have created a simple demo application to explain the problem:

https://github.com/oarshad/flutter_data_demo

There are two buttons, `Remote Data` and `Offline Data`.

Replicate Steps:
When you run this application for the first time and hit `Offline Data`. It doesn't print anything on the console, as there is no data. After that, if you hit `Remote Data`, it does fetch the data from re

[2022-03-25 19:47] frank06 commented on #148
I appreciate that @oarshad ! I will soon have a look

[2022-03-26 01:20] #148 closed

[2022-03-26 07:58] oarshad commented on #148
that seems to be working fine 👍

Thank You @frank06

[2022-03-27 16:35] oarshad opened #151 "utf8 and 404 support"
This may be two issues in one.

1. If API returns 404 response code without anybody, then `findOne` throws some Null Pointer Exception (that is it still trying to parse some data) and if API does return somebody with 404 response, then the error thrown by flutter_data is some parsing exception. Shouldn't API just ignore parsing of the body if the response code is 404?

2. Any UTF-8 characters bein

[2022-03-29 18:08] frank06 commented on #151
NullPointerException? Could you please share the error and its stacktrace?

This test is passing (if by "anybody" you mean "nothing"):

[code]

No, if the response contains data we wrap it in the exception message, some clients use it.

Regarding (2) I added a test to ensure it works correctly:

https://github.com/flutterdata/flutter_data/commit/7b3431208d2ff80f7357673b401fcc25a5a76920#diff-5e9cf1

[2022-03-31 16:30] frank06 commented on #151
Please reopen if it hasn't solved your issue

[2022-04-11 10:17] user97116 opened #153 "How to migrate from hive to flutter data?"
[code]

[2022-04-11 11:18] frank06 commented on #153
What have you tried?

[2022-04-11 11:32] frank06 commented on #153
Here is all you need:
 - https://pub.dev/packages/json_serializable
 - https://flutterdata.dev/docs/

 Please reopen with specific questions.

[2022-04-11 11:32] #153 closed

[2022-04-11 12:21] user97116 commented on #153
I want Model with custom type id and when I want to open with custom box name

[2022-04-11 12:22] user97116 commented on #153
and I also this is existing hive model so what's the hive field number ?

[2022-04-11 12:26] user97116 commented on #153
Suppose this is 1'st todo model but I want from existing todo model 2'nd and also want to open with custom box name
1'st
[code]
2nd
[code]

[2022-04-11 12:35] user97116 opened #154 "Question: Migrate from Existing Hive Model with custom type id and want to open with custom box name"
Suppose this is 1'st todo model which is in flutter_data and 2nd is in hive model, 2'nd hive model is existing model, I want migrate with same typeid and hive field id so I don't loss data when I open model and also I didn't find anyway to open with custom box name with flutter_data

1'st
[code]

2nd
[code]

[2022-04-19 13:07] frank06 commented on #154
It is not possible to customize box names or type IDs or even the data format, all of this is managed internally by Flutter Data which uses its own boxes.

You should create a custom migration in your app where you load old boxes, copy data over to FD and then destroy the old boxes.

[2022-04-19 13:07] #154 closed

[2022-05-28 16:14] huang12zheng opened #155 "mocks.dart get error due to HiveInterface signature is changed"
git now
[code]
---
my local
[code]

[2022-05-28 16:29] huang12zheng opened #156 "some confusion about test usecase init"
https://github.com/flutterdata/flutter_data/blob/master/test/model/data_model_test.dart#L14-L31
* confusion 1
I found comment here in the source `test/model/data_model_test.dart`
[code]
But, this use case doesn't need person.save(), or person.init()
In particular, I looked at the  DataModel, and RemoteAdapter.
DataModel would do init.

[code]
---

* confusion 2
You new Familia, but api is to peopl

[2022-05-28 17:32] huang12zheng opened #157 "RelationshipMeta.instance maybe a little confusion"
When I see the generated _kUserRelationshipMetas, I'm a little confused,
why is this instance

I later found out that its signature is as follows:
[code]

It might be better to use some words for function concept.
such as, create , resolverRelationship

[2022-05-28 19:31] frank06 commented on #155
What exact version of Hive are you using?

[2022-05-28 19:32] frank06 commented on #157
Those are Flutter Data internals. What are you trying to do?

[2022-05-28 19:40] #156 closed

[2022-05-28 19:40] frank06 commented on #156
It was a bug in the test, fixed

[2022-05-28 19:41] #157 closed

[2022-05-28 21:52] #155 closed

[2022-05-28 21:52] frank06 commented on #155
It's fixed now, you can use `flutter_data: ^1.4.0`

[2022-05-28 22:28] frank06 commented on #7
@amanxnanda sorry I missed your question! Yes, it absolutely can be used with Firebase.

I am currently working on a huge project that relies Flutter Data and (heavily) uses Firestore though a custom FD-adapter.

[2022-05-28 22:33] frank06 opened #158 "Differentiate read vs watch operations"
Right now we access everything via `ref.$model` which defaults to `ref.watch` for all calls including async calls like `save`.

https://riverpod.dev/docs/concepts/reading

This should be separated and extensions should be on `Reader` & `Watcher`.

Example:

 - `ref.watch.inspections()`: `watchAll` alias
 - `ref.watch.inspections(model)`:  `watchOne(model)` alias
 - `ref.read.inspections.save`
 - e

[2022-05-28 22:37] frank06 opened #159 "DataState `meta` field"
`DataState` currently has four fields: `isLoading`, `model`, `exception`, `stackTrace`.

This proposes adding a fifth, general purpose `Object? meta` to carry extra information, motivated by the idea of using it during loading to provide extra information about the loading.

Explore the possibility of making it `@freezed`/`@unfreezed`.

[2022-05-28 22:39] frank06 opened #160 "Test full FD teardown/dispose + setup/(re)initialize"
Should be fail proof and tested, maybe in a separate Flutter test repo (along with performance testing there?).

Explore destroying local storage instead of clearing.

[2022-05-28 22:40] frank06 commented on #160
Following on `main.data.dart` is useless:

[code]

[2022-05-28 22:43] frank06 commented on #93
Using Isar might also help with a multi-isolate FD setup?

[2022-05-28 22:45] frank06 opened #161 "Flutter Data inspector"
Or help improve Isar inspector if going [this](https://github.com/flutterdata/flutter_data/issues/93) route?

[2022-05-28 22:45] frank06 commented on #160
Wait until https://github.com/flutterdata/flutter_data/issues/93 ?

[2022-05-28 22:48] frank06 opened #162 "Organize tests"
- regroup
  - add test for `background=true`
  - cover offline defaulting to `findAll` (see coverage)
  - test `pending0fflineTypes` (maybe in a separate Flutter app repo)

[2022-05-28 22:53] frank06 opened #163 "Possible to make `HasMany` an `Iterable` again?"
Issue was always with `@freezed` classes equality. It might be possible with Freezed 2.0+?

[2022-05-28 22:54] frank06 commented on #163
How does Isar achieve that with `IsarLinks` being an `Iterable` if it supposedly is Freezed-compatible?

[2022-05-29 15:12] huang12zheng commented on #93
I recommend isar by default, but if the user wants to use a HiveLocalAdapter, it is also supported

[2022-05-29 15:36] huang12zheng commented on #156
Sorry, I didn't see your reply.

By the way,  I want to ask you a question,
`await person.save();`
It is no need.  Function save would do in init(save = true) by default , and init do in construction of DataModel.

[2022-05-29 16:06] frank06 commented on #156
In this particular case that is technically true, but `save` is not at all the same as `init`.  Saving during `init` only silently saves to local storage.

[2022-05-29 16:41] frank06 opened #164 "Integrate gRPC?"
https://pub.dev/packages/grpc

[2022-05-30 07:21] alguintu opened #165 "v1.4.0: DataModel can't be used as a mixin because it declares a constructor"
Upgraded to 1.4.0 and I'm getting this message on all models trying to use the DataModel mixin.

``` class Item with DataModel<Item> ```

What's the proper way to use the DataModel now? Should I just extend it since it now has a constructor?

``` class Item extends DataModel<Item> ```

[2022-05-30 08:54] huang12zheng opened #166 "How to show state info in log?"
~~Today, I try to update dependencies  in example~~ `https://github.com/flutterdata/flutter_data_todos/`
~~but find some problem after I do some update.
one of them is console never show state change log.
I check source, and then I think that it is relation to logLevel too low.
So, how to set it in flutter?~~

But, how to show the detail of todo?
The output of Log is just
[code]
I want a more info

[2022-05-30 08:58] huang12zheng commented on #165
You can check file `example/lib/models/task.dart`
it show now use extends instead of with
@alguintu

[2022-05-30 09:14] huang12zheng commented on #166
[code]

[2022-05-30 10:10] huang12zheng commented on #166
By the way, in last version flutter_data_todos.
If I quickly click todo to toggle completed,
It would outcome wrong state through state log.
**Now, It look like that state work well**
So, I would ask why happen state wrong in last version(d92f20f760f2d36d0a57bb3c04376a23ee3968a7)?

[2022-05-30 13:53] frank06 commented on #165
@alguintu Yes you need to use `extends` (no more need for `init(...)`).

I am thinking of adding a `DataModelMixin<T>` to 1.4.1 for those who still want to keep calling `init()`/don't want to use extends.

I will be starting to update the documentation today.

[2022-05-30 13:53] #165 closed

[2022-05-30 14:49] frank06 commented on #166
Pushed some improved logging, you can now see something like the following in the console:

[code]

Provided you set `ref.todos.logLevel = 2` or higher.

As you noticed you can do some custom logging overriding the `onError` handler:

[code]

[2022-06-01 03:51] huang12zheng commented on #166
1. instead of remote: false, using remote: true in fn save.
2. override save onSuccess:
[code]
3. Confirmed that the problem (bad data) is due to remote data

[2022-06-01 08:53] huang12zheng opened #167 "The order of remote and local is inconsistent"
# What the problem looks like
Confirmed that the problem ([bad data](https://github.com/flutterdata/flutter_data/issues/166#issuecomment-1140966789)) is due to remote data
Or maybe it's the Internet.
10 clicks in a row, local 10 is correct.
After the local end, the remote data will be returned.
But it is disorder.

* _RemoteAdapter.save
[code]
---
localstate:
55436 41050 82477 22148 40731 22279 43

[2022-06-01 14:58] alguintu opened #168 "Override or disable pluralization of table names?"
Is there a way to disable pluralization for all tables aside from overriding the ```urlForFindAll``` individually for each adapter? I've been searching for a while now but can't find an easy way to do it. Any help would be appreciated. Thanks.

[2022-06-02 01:47] alguintu commented on #168
I was pretty sure I tried all methods on ```type``` yesterday. This works, thank you.

[2022-06-02 18:20] huang12zheng opened #169 "Question: how to get local state?"
I want get localState.
But I only know how to get data by model.

But I realized that my local value would be replaced.

[code]

I just want to get (0,Luis) which is want I save in local.

[2022-06-02 18:51] frank06 commented on #169
Initialization is saving by default, so it's to expect that you get `(0, 'ab')`.

If you want to disable saving on init, do this: https://github.com/flutterdata/flutter_data/blob/master/test/_support/node.dart#L21

[2022-06-02 18:51] #169 closed

[2022-06-02 18:52] frank06 commented on #169
For local data you can also do `await container.people.findOne('0', remote: false)`

[2022-06-03 01:54] frank06 commented on #167
Okay I get what you mean and I think I fixed it here: 33f18fd22add38cef70bf0129d5facba26ce92ea

I also updated https://github.com/flutterdata/flutter_data_todos with it, can you try if it works better now?

[2022-06-03 01:58] frank06 commented on #169
I just changed this. Now all models are initialized but you need to manually save them, so your original example should work.

https://github.com/flutterdata/flutter_data/blob/master/test/_support/node.dart#L21 now does the opposite (it's auto-saving – but note this will likely break the ordering https://github.com/flutterdata/flutter_data/issues/167)

[2022-06-03 03:55] huang12zheng commented on #167
It looks good,
Specifically,
Data that does not need to be updated is not updated.

[2022-06-03 03:55] #167 closed

[2022-06-04 07:58] huang12zheng commented on #169
It turns out to be future with key `await`,
The Future could be difficult to use in Widget.build and is probably better as follow
[code]
By the way, If the program is running properly, there is a block of app data in memory, we don't need a future.

[2022-06-06 14:23] frank06 opened #170 "restore request ordering"
Restore 0cf069979bf5260aada112d8bb17e5deed3a7586

[2022-07-05 07:29] sawirricardo commented on #101
Hi @paulocagol can you share your findings? Thank you

[2022-07-08 04:08] alguintu opened #171 "Question: Non-trivial examples for more complex use-cases?"
Is there an existing example project that uses this library extensively, in real-world scenarios beyond simple tasks list? I'm having troubles using the repositories in multiple widgets across a single activity, e.g. two ListViews where each list watches a different subset of a repository. And also some samples on how to consume the results of a findAll in a HookWidget.

I've been try to search fo

[2022-07-08 22:43] frank06 commented on #171
For what it's worth, Flutter Data is the cornerstone of a decent-sized app (flagship product and main source of revenue of an established startup), so yes a very real world scenario. And there are several more. Sorry I didn't have the time to write a bigger example yet, I'm trying to find the time.

Please open an issue with what you have tried (with some code please) and I'll try to help you.

[2022-07-08 22:43] #171 closed

[2022-07-27 18:36] andreacioni opened #172 "Flutter Web profile mode works but release does not"
Hi Frank,

while building a project for web in release (`--release`) mode I noticed that the resulting application can't run and it displays the error below:

<img src="http://andysite.altervista.org/archive/Schermata_2022-07-27_alle_20.20.24.png" alt="drawing" width="200"/>

If I try to run the application in `profile` mode everything works as expected,

The really difficult thing is that nothing

[2022-07-27 21:55] frank06 commented on #172
I'm sorry to hear this. I always reluctantly supported Flutter web because of things like these.

A kind soul [submitted a PR](https://github.com/flutterdata/flutter_data/pull/152) and after a while it brought up several of these `toString on null` errors that were very difficult to debug and find.

@Skycoder42 by any chance would you happen to know what is causing this error?

Otherwise I suggest

[2022-07-27 21:57] frank06 commented on #172
Could you find workarounds to turn your profile mode into release?

[2022-07-28 06:08] Skycoder42 commented on #172
Okay, so I do kinda now whats going on. When dart is compiled to JS in release mode, there are no guarantees given on how the types are named (kinda as if you would enable obfuscation in standard dart). This is not a bug but standard behaviour. I think the dart documentation even states to not use toString on typenames in JS somewhere (I found a lint: [avoid_type_to_string](https://dart-lang.githu

[2022-07-28 07:00] andreacioni commented on #172
Actually I started propagating the type to [initialize](https://github.com/flutterdata/flutter_data/blob/master/lib/src/repository/repository.dart#L25) totally replacing the `DataHelpers.getType<T>();` invocation in `_internalType` . That helped with the first point but then I saw that `DataHelpers.getType<T>();` is also used in other places as well. So maybe we should never use it without a `type

[2022-07-28 21:52] andreacioni commented on #172
That's a good point, I added the function you suggested in `DataHelper`:
[code]

In main.dart I added:
[code]

A little hacky but it works. We could use it but I think that the root cause to the error is to use `T.toString()` . As explained in this [other issue](https://github.com/dart-lang/sdk/issues/48337) it seems to be a bad practice even if the problem appears just on Flutter Web.

[2022-07-29 18:10] #172 closed

[2022-07-29 18:14] frank06 commented on #172
Thank you @Skycoder42 @andreacioni !

I thought I could take this opportunity to improve the internal types. There is no more runtime type resolving, everything is done during codegen. If you want to override a type use e.g.:

[code]

Can you let me know if this helped?

[2022-07-29 21:54] andreacioni commented on #172
Thanks @frank06 ! I had no time to check the insight of the solution but if I use the `internalType` everything works just fine even on a Web release build.

[2022-07-30 13:51] frank06 commented on #172
That's great!

[2022-08-06 15:16] boosey commented on #172
I have this same issue. I performed a 'flutter pub upgrade' and added the internalType to my DataRepository annotation, yet I still get this message. I cleared cache and cookies from my browser. Did I miss a step?

[2022-08-06 16:06] andreacioni commented on #172
Did you run the `build_runner` after upgrading ?

[2022-08-07 02:29] boosey commented on #172
I realized that just 5 minutes after I posted this, but I was not in front of my computer when I did so. It is working now. Thanks.

[2022-08-23 22:10] oarshad opened #173 "HasMany not being serialized with Save Request"
Trying to write a nested model with `HasMany` mapping, however, when saving the object, the nested relationship entities are being sent as an empty array.
[code]

[2022-08-25 12:53] BalasubramaniSundaram opened #174 "How to send MultipartFileRequest ?"

[2022-08-26 19:44] KoalityJustin opened #175 "Question: How to store models with custom endpoint?"
So I've implemented a custom endpoint per https://flutterdata.dev/docs/adapters/#custom-endpoints but I'm unsure of how to make these models stored locally. Right now it looks like this:
[code]

Have a small deserialize tweak which is why I have this onSuccess handler. But these models are not stored locally anymore; was there a change in >1.4 that I need to make?

[2022-09-06 00:48] drexhacker opened #176 "Does FlutterData have Full Text Search?"
Just like any other dbs?

[2022-09-15 13:22] danielnordh opened #177 "Breaking migration issue - ref no longer available on RemoteAdapter?"
After upgrading hooks_riverpod to 1.0.1 I need to also update flutter_data.
When updating from 0.8.2 to 1.1.1 (tried later ones as well) I get the following issues after generating with build_runner:

In any mixin's on RemoteAdapter
<img width="894" alt="image" src="https://user-images.githubusercontent.com/3393669/190411562-cc55dd13-0a82-42fd-8094-3597261b3d9c.png">
Seems like the RemoteAdapter n

[2022-09-16 11:32] danielnordh commented on #177
Good news. This seems to have been a ghost issue.
When I came back to my code today, ref was recognised as a `ProviderReference`.
No idea what changed but I'll blame VSCode.

[2022-09-19 11:03] danielnordh commented on #177
After digging in previous commits I found the answer in ec41c901e9f5aa2c4dbbf32aa6526523c61308f5
`ProviderReference ref` is replaced by `Reader read`

Before:
`... ref.read(configurationProvider).instance.apiUrl`
After:
`... read(configurationProvider).instance.apiUrl`

[2022-09-19 11:03] #177 closed

[2022-09-19 12:00] danielnordh opened #178 "Migration issue: provider not fetching data with 1.3.4"
When updating from 0.8.2 to 1.3.4 (and RiverPod 1.0.4), our `transactionProvider` no longer returns any data.

Previous:
[code]

Now:
[code]

But the `data` state is never invoked.
A breakpoint added to the _adapter function feeding the provider is never hit.

What should I be doing differently @frank06?

[2022-10-01 02:57] aviqbaihaqy commented on #128
how to implement this, can you give an example

[2022-10-22 13:46] vinidiktov commented on #35
This page is not available now https://flutterdata.dev/cookbook/adapters/#authentication-service

Where can I find the cookbook?

[2022-10-24 11:08] arkjedrz opened #179 "Relationships are not stored when HiveLocalAdapter is used"
1.4.6
I have a single "BelongsTo" relationship in my app, code excerpt:
[code]

It is working correctly for as long app is running, relationship information is missing after app restart though.
I noticed HiveLocalAdapter forbid storing relationships, this is due to [this line](https://github.com/flutterdata/flutter_data/blob/29fb76c504ef4167de7842f335bc09f5bb1e70d9/lib/src/repository/hive_local_ad

[2022-10-25 23:40] frank06 commented on #179
Can you share how are you accessing the relationships?

`LocalAdapter` is internal, it shouldn't concern you. Relationships are stored in the graph.

You could compare what you are doing with https://github.com/flutterdata/flutter_data_todos which is an app where relationships work just fine.

[2022-10-25 23:48] frank06 commented on #176
Flutter Data allows you to access remote APIs and a local database (Hive) so no, it is not supported as such. But since data is in memory you can use any Dart collection tools to retrieve what you want.

There are some future plans to support Isar.

[2022-10-25 23:48] #176 closed

[2022-10-25 23:53] frank06 commented on #173
What adapters are you using? What Flutter Data version?

Tests are passing in that scenario: https://github.com/flutterdata/flutter_data/blob/master/test/repository/remote_adapter_serialization_test.dart#L24

https://github.com/flutterdata/flutter_data/blob/master/test/repository/remote_adapter_serialization_test.dart#L59-L65

[2022-10-26 00:02] frank06 commented on #173
The issue is that your tasks have no IDs.

[2022-10-26 00:02] #173 closed

[2022-10-26 00:08] frank06 commented on #174
What have you tried?

I have no better answer than: override `sendRequest` but that is a complex method.

Depends where you want to send your data, but you could use a [custom endpoint](https://flutterdata.dev/docs/adapters/#custom-endpoints) and make your custom HTTP call in there.

[2022-10-26 00:16] frank06 commented on #175
Did you find out? Is this still a problem for you?

[2022-10-26 00:17] frank06 commented on #178
Hey Daniel, were you able to solve this?

[2022-10-26 00:35] ArneSaknussemm89 commented on #175
@frank06 Totally forgot to close this! No longer a problem, just had to change the `onSuccess` to work differently.

[2022-10-26 05:04] aexei commented on #93
Wie sieht hier der aktuelle Stand aus?

[2022-10-26 10:02] ariejan opened #180 "[Tutorial] Creating a new todo adds one with `id=null` and one with the remote id"
Hi,

I'm following along with the tutorial, I've setup a Ruby on Rails REST back-end to store tasks.

When I create a new task, it's added to the list of tasks with `id=null`. A POST request goes out and my server responds with the created task (it's identical, but with an ID).

The list now shows _both_ a todo with `id=null` and one with `id=<int>`. For both `DataModel.keyFor()` returns the exact

[2022-10-26 11:32] arkjedrz commented on #179
One thing I noticed - there's `@JsonKey(name: 'userId')` above `late final BelongsTo<User> user;`, which I didn't use. Is this JsonKey annotation crucial? Other than that I don't see differences.

[2022-10-27 10:43] danielnordh commented on #178
Hi Frank, not yet.
I will give the migration another go in about two weeks after wrapping up some other work.
Would love to be in touch then. Please email the best contact details (your previous email bounced).

[2022-10-27 22:08] #175 closed

[2022-10-27 22:12] frank06 commented on #179
`@JsonKey(name: 'userId')` is a `json_serializable` annotation and it is used for remote serialization. I don't think it relates to your problem.

`BelongsTo` relationships are working well in many of my projects. If you could share more code, or ideally the whole project, I might be able to help you out.

[2022-10-27 22:16] frank06 commented on #180
That absolutely looks like a bug. When I get a bit of time I will try to reproduce in https://github.com/flutterdata/flutter_data_todos (you could also there if you want).

Are you running `1.4.7`?

[2022-10-27 22:42] frank06 commented on #93
@aexei It's on hold

[2022-10-27 22:52] frank06 commented on #35
@vinidiktov check out https://flutterdata.dev/articles/ -- there are lots of examples there

[2022-10-27 23:18] #178 closed

[2022-10-28 08:24] aexei commented on #93
Oh ok. Why did you set it to on hold?

[2022-10-31 14:08] frank06 commented on #93
No time

[2022-11-03 04:55] alguintu opened #181 "Update to support new riverpod version?"
Will there be an update to move up to latest riverpod version?

[2022-11-07 05:37] boosey opened #182 "Failure on page reload"
First load of my Flutter web app utilizing flutter_data works just fine. If I reload the page via the web browser,  I receive the following:

[code]

I've searched but cannot find this issue answered anywhere.

[2022-11-08 18:30] frank06 commented on #182
I am reluctantly supporting Flutter Web because it's awful. Looks like a wrong cast, I'll try to reproduce soon.

[2022-11-08 18:30] #179 closed

[2022-11-09 22:22] frank06 commented on #182
I should be able to look at this next week. It would be great if you found a workaround in the meantime.

[2022-11-17 22:35] boosey commented on #182
Any progress? I did find a workaround. I have to sync local storage all the time. For some reason, when syncing, it takes as long to hot reload as it does to stop and start the application in debug.

[2022-11-22 16:53] frank06 commented on #181
Done. Just released `1.5.0`

[2022-11-22 16:53] #181 closed

[2022-11-22 16:55] frank06 commented on #182
No, I couldn't look at this in detail yet.

What do you mean by "sync local storage all the time"? Can you share some code? Maybe that gives me a pointer to fix this faster.

[2022-11-22 22:46] #180 closed

[2022-11-22 22:46] frank06 commented on #180
@ariejan Fixed. Let me know if it works for you

[2022-11-22 22:52] frank06 opened #185 "Re-enable web support, help needed"
Flutter web is garbage but some people still want to use it.

Starting now I'm disabling Github Actions testing on web because I keep getting build failures with cryptic errors.

I have zero time for maintaining it. Anyone interested in helping out with web?

[2022-11-22 22:53] frank06 commented on #182
#185

[2022-11-24 14:43] maherjaafar commented on #185
@frank06 I can help out 😄

[2022-11-25 16:53] frank06 commented on #185
@maherjaafar that would be great. Tests are not passing on web and there's #182

[2022-11-25 16:53] #164 closed